In [120]:
import Functions.StringComp as SC
import Models.ImportModel as IM
import pandas as pd
import numpy as np
import json
import re

VR = IM.original()

importing from spreadsheet: VR-ansökningar 2012-2016.xlsx

|--                  | 11%

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

|-----               | 26%

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

|--------            | 41%

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

|-----------         | 56%

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

|--------------      | 72%

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

|-----------------   | 87%

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

|--------------------| 100%

In [121]:
df = VR.df[['Dnr', 'Efternamn', 'Förnamn']]
# rename columns
df.columns = ['app_id', 'surname', 'name']

duplicate_authors = pd.DataFrame(columns=['name', 'surname', 'app_ids', 'duplicates'])


# CHECK DUPLICATES ON IDENTICAL NAME AND SURNAME

limit = None

if limit == None:
    limit = len(df)


checked_app_ids = []

for t in df.itertuples():
    if t[0] >= limit:
        break
    if t.app_id in checked_app_ids:
        continue

    subset = df[(df['name'] == t.name) & (df['surname'] == t.surname)]

    app_ids = list(subset['app_id'])
    checked_app_ids = checked_app_ids + app_ids
    app_ids_json = json.dumps(app_ids)
    duplicates = len(app_ids) - 1

    if duplicates > 0:
        temporary_df = pd.DataFrame([[t.name, t.surname, app_ids, duplicates]],
                                   columns=['name', 'surname', 'app_ids', 'duplicates'])
        duplicate_authors = duplicate_authors.append(temporary_df, ignore_index=True)

    else:
        temporary_df = pd.DataFrame([[t.name, t.surname, app_ids, duplicates]],
                               columns=['name', 'surname', 'app_ids', 'duplicates'])
        duplicate_authors = duplicate_authors.append(temporary_df, ignore_index=True)

print(duplicate_authors)

                  name             surname  \
0                Amaia  Calderón-Larrañaga
1                Maria            Swanberg
2      Christine-Maria              Horejs
3                Antti             Latvala
4              Ljubica             Perisic
...                ...                 ...
13694            Alena         Stsiapanava
13695           Holger                Kohr
13696            Dipak               Surie
13697        Charlotta           Wallinder
13698           Khadga               Karki

                                                 app_ids duplicates
0                                           [2016-00981]          0
1      [2016-00992, 2013-03310, 2012-02563, 2013-0335...          5
2                                           [2016-01005]          0
3                                           [2016-01008]          0
4                                           [2016-01016]          0
...                                                  ...        ...
13694                                       [2015-05578]          0
13695                                       [2015-05595]          0
13696                                       [2015-05602]          0
13697                                       [2015-05605]          0
13698                                       [2015-05618]          0

[13699 rows x 4 columns]

In [122]:
writer = pd.ExcelWriter('duplicates_full.xlsx', engine='xlsxwriter')
duplicate_authors.to_excel(writer, sheet_name="duplicates", index=False)

writer.save()

In [123]:
# Import the Scrape Data
scrape5 = pd.read_excel('scrape_results_5.0.xlsm')

In [124]:

# Now we aggregate and append desired columns

def extract_cell(app_id, col):
    subset = scrape5[(scrape5['Dnr'] == app_id)]
    x = getattr(subset, col)
    isnull = x.isnull().values.any()
    if isnull:
        return []
    else:
        val = str(x.iloc[0])

        if ".0" == val[-2:]:
            val = val[:-2]

        # if there is a comma serparated number list, split it and return a list
        if re.search(r"^[\d,\.\s]+$", val) != None:
            if ", " in val:
                return val.split(", ")
            else:
                return [val]
        else:
            return [val]

print(extract_cell("2016-00981", 'Year'))
print(extract_cell("2016-00992", "Year"))

print(extract_cell("2016-01158", 'Year'))
print(extract_cell("2016-01172", "Year_unsure"))

print(extract_cell("2016-00981", 'year_of_birth'))
print(extract_cell("2016-00992", "year_of_birth"))
print(extract_cell("2016-01158", 'year_of_birth'))
print(extract_cell("2016-01172", "year_of_birth"))

print(extract_cell("2016-00981", 'Institution'))
print(extract_cell("2016-00992", "Institution"))
print(extract_cell("2016-01158", 'Institution'))
print(extract_cell("2016-01172", "Institution"))

[]
['2007']
[]
['2015', '2006']
[]
['1977']
[]
[]
[]
['Karolinska Institutet']
[]
['Karolinska Institutet']

In [125]:
def clean_list(list):

    # remove list from single-pnum lists
    clean = []
    for x in list:
        if len(x) == 1:
            # convert to integer if it looks like one
            if re.match(r"^\d+$", str(x[0])) != None:
                clean.append(int(x[0]))
            else:
                clean.append(x[0])

        elif len(x) == 0:
            clean.append(None)

        else:
            clean.append(", ".join(x))

    print("LENGTH WAS", len(list))
    print("LENGTH IS", len(clean))

    return(clean)


print(clean_list([[], ['2007'], [], ['2011'], ['2012']]))

LENGTH WAS 5
LENGTH IS 5
[None, 2007, None, 2011, 2012]

In [126]:
def aggregate_attribute(a):

    a_list = []

    for t in duplicate_authors.itertuples():
        local_list = []
        app_id_list = re.sub(r"[\[\]\']", "", str(t.app_ids)).split(", ")
        for app_id in app_id_list:
            local_list = local_list + extract_cell(app_id, a)

        #print(list(set(local_list)))

        a_list.append(list(set(local_list)))

    return clean_list(a_list)

In [127]:
libris_links = aggregate_attribute("Libris_avhandling_url")
dart_links = aggregate_attribute("Dart_avhandling_url")

LENGTH WAS 13699
LENGTH IS 13699
LENGTH WAS 13699
LENGTH IS 13699

In [128]:
print(len(libris_links))
print(len(dart_links))
# append the column
df_links = duplicate_authors.assign(libris_link=libris_links, dart_link=dart_links)

13699
13699

In [129]:
# Now we loop through and find duplicates on link level


merge_orders_libris = []
merge_orders_dart = []

checked_libris_links= []
checked_dart_links = []

# Scan libris links
for t in df_links.itertuples():

    if t.libris_link == " ":
        continue

    if t.libris_link in checked_libris_links:
        continue

    subset = df_links[(df_links['libris_link'] == t.libris_link)]

    if len(subset) > 1:
        print(len(subset))
        base_id = subset.index.values.astype(int)[0]
        dup_ids = subset.index.values.astype(int)[1:]
        print(subset[['name', 'surname']])
        print(f"Merge {dup_ids} into {base_id}")

        merge_orders_libris.append({'base': base_id, 'dup': dup_ids})
        checked_libris_links.append(subset['libris_link'].iloc[0])

# Scan dart links
for t in df_links.itertuples():

    if t.dart_link == " ":
        continue

    if t.dart_link in checked_dart_links:
        continue

    subset = df_links[(df_links['dart_link'] == t.dart_link)]

    if len(subset) > 1:
        print(len(subset))
        base_id = subset.index.values.astype(int)[0]
        dup_ids = subset.index.values.astype(int)[1:]
        print(subset[['name', 'surname']])
        print(f"Merge {dup_ids} into {base_id}")

        merge_orders_dart.append({'base': base_id, 'dup': dup_ids})
        checked_dart_links.append(subset['dart_link'].iloc[0])

2
        name          surname
25   Kotryna  Simonyté Sjödin
945  Kotryna         Simonyté
Merge [945] into 25
2
         name    surname
107    Celine  Fernandez
12749  Céline  Fernandez
Merge [12749] into 107
2
         name            surname
284    Martin           Sahlberg
12058  Martin  Häggblad Sahlberg
Merge [12058] into 284
2
            name   surname
445         Omid  Faridani
13248  Omid Reza  Faridani
Merge [13248] into 445
2
         name surname
475    jiajia    chen
12673  Jiajia    Chen
Merge [12673] into 475
2
         name             surname
543    Mikael  Brandström Durling
13359  Mikael          Brandström
Merge [13359] into 543
2
                     name surname
651   Syed Hassan Mujtaba   Jafri
1109               Hassan   Jafri
Merge [1109] into 651
2
           name   surname
660      Stefan  Hallgren
12649  Hallgren    Stefan
Merge [12649] into 660
2
        name  surname
661   Markus  Franzen
1135  Markus  Franzén
Merge [1135] into 661
2
                name           surname
690          Cláudio           Lousada
8987  Cláudio Miguel  Lousada Patrício
Merge [8987] into 690
2
          name            surname
793    Gabriel           Svensson
13535  Gabriel  Svensson Birkedal
Merge [13535] into 793
2
             name surname
816    M. Sirajul   Islam
11795   M Sirajul   Islam
Merge [11795] into 816
2
             name surname
882   Abdel Baten   Miaji
1903        Baten   Miaji
Merge [1903] into 882
2
     name             surname
988   Ida             Ahlbeck
1666  Ida  Ahlbeck Bergendahl
Merge [1666] into 988
2
       name        surname
1000   Alli  Klapp Lekholm
11607  Alli          Klapp
Merge [11607] into 1000
2
       name      surname
1013  Fabio    Del Sordo
9302  Fabio  Del Missier
Merge [9302] into 1013
2
           name                surname
1181  Catharina                 Medrek
1432  Catharina  Hagerling (fd Medrek)
Merge [1432] into 1181
2
                   name         surname
1191   Virgilio Mariano  Salazar Torres
11083           Mariano         Salazar
Merge [11083] into 1191
2
          name   surname
1199  Engström    Patrik
1667    Patrik  Engström
Merge [1667] into 1199
2
            name      surname
1236   Eva-Marie        Ström
11124  Eva-Marie  Bloom Ström
Merge [11124] into 1236
2
        name surname
1284  yikang     rui
1678  Yikang     Rui
Merge [1678] into 1284
2
      name                 surname
1300  MINE  LEMBERG PEDERSEN ISLAR
1345  Mine  Lemberg Pedersen Islar
Merge [1345] into 1300
2
         name             surname
1349  Matilda            Svensson
1764  Matilda  Svensson Chowdhury
Merge [1764] into 1349
2
         name     surname
1419  Therése  Klingstedt
1683  Therese  Klingstedt
Merge [1683] into 1419
2
         name surname
1439  WENJING    ZHOU
1679  Wenjing    Zhou
Merge [1679] into 1439
2
         name   surname
1516  Katinka  Svanberg
2033  katinka  svanberg
Merge [2033] into 1516
2
     name surname
1588   CI    SONG
1811   Ci    Song
Merge [1811] into 1588
2
       name            surname
1593  Aishe            Sarshad
1833  Aishe  Angeletti Sarshad
Merge [1833] into 1593
2
      name                     surname
1607  Emma                       Björk
1774  Emma  Björk (tidigare Johansson)
Merge [1774] into 1607
2
                 name      surname
1613        Moohammed  Wasim Yahia
1672  Moohammed Wasim        Yahia
Merge [1672] into 1613
2
          name     surname
2368  Patricia  Hedenqvist
2391  patricia  hedenqvist
Merge [2391] into 2368
2
         name  surname
2375  Adriaan  de Jong
2395  Adriaan  De Jong
Merge [2395] into 2375
2
         name surname
2397  laurent  roybon
8625  Laurent  Roybon
Merge [8625] into 2397
2
               name surname
2420  Corrado Maria   Cilio
6928        Corrado   Cilio
Merge [6928] into 2420
2
        name                 surname
2565  Zeinab  Nour-Eddine Tag-Eldeen
7679  Zeinab   Noureddine Tag-Edleen
Merge [7679] into 2565
2
       name        surname
2948  Karin        Geverts
7852  Karin  Kvist Geverts
Merge [7852] into 2948
2
            name           surname
3096   Charlotte  Hylten-Cavallius
11955  Charlotte  Hyltén-Cavallius
Merge [11955] into 3096
2
      name   surname
3208  Leif  Wegerman
9563  Leif  wegerman
Merge [9563] into 3208
2
       name          surname
3327  Malin  Sveningsson Elm
9951  Malin      Sveningsson
Merge [9951] into 3327
2
          name         surname
3381   Therese  Lindahl Nordin
11114  Therese         Lindahl
Merge [11114] into 3381
2
        name       surname
3437  Cheryl  Akner- Koler
9651  Cheryl   Akner Koler
Merge [9651] into 3437
2
             name              surname
3621   Ulrich von      Pawel-Rammingen
10589      Ulrich  von Pawel-Rammingen
Merge [10589] into 3621
2
         name   surname
3624     Leif  Kirsebom
10038  Leif A  Kirsebom
Merge [10038] into 3624
2
         name  surname
3924   Petter  Hedlund
10956  petter  hedlund
Merge [10956] into 3924
2
         name surname
4017   Heléne  Norder
10206  Helene  Norder
Merge [10206] into 4017
2
        name surname
4041   Dawei      Xu
11030     Xu   Dawei
Merge [11030] into 4041
2
         name    surname
4056   Marene  Landström
11200  Maréne  Landström
Merge [11200] into 4056
2
       name   surname
4133   Lena  von Koch
10232  Lena  Von Koch
Merge [10232] into 4133
2
       name surname
4156   Lars  Norlén
10211  Lars  Norlen
Merge [10211] into 4156
2
        name                surname
4250   Inger              Hallström
10296  Inger  Kristensson Hallström
Merge [10296] into 4250
2
           name       surname
4254   Pernilla  Åsenlöf Fors
10251  Pernilla       Åsenlöf
Merge [10251] into 4254
2
          name  surname
4365       Pan  Jinshan
10521  Jinshan      Pan
Merge [10521] into 4365
2
           name           surname
4559   Birgitta  Janeroth Sjöberg
11963  Birgitta           Sjöberg
Merge [11963] into 4559
2
          name surname
5223   Sitaram  Velaga
10114  sitaram  Velaga
Merge [10114] into 5223
2
         name       surname
5241   Mikael  Nolin Sjödin
10698  Mikael        Sjödin
Merge [10698] into 5241
2
       name surname
5286  Peder  Thalén
9883  Peder  Thalen
Merge [9883] into 5286
2
        name               surname
5476  Helena             Wahlström
9796  Helena  Wahlström Henriksson
Merge [9796] into 5476
2
        name          surname
5479   Klara         Bolander
11576  Klara  Bolander Laksov
Merge [11576] into 5479
2
             name  surname
5561   Anne L. C.  Runehov
11255        Anne  Runehov
Merge [11255] into 5561
2
            name surname
5571     Izabela    Dahl
9759  Izabela A.    Dahl
Merge [9759] into 5571
2
           name   surname
5614   Ouattara      Syna
11799      Syna  Ouattara
Merge [11799] into 5614
2
      name        surname
5838   Åsa  Kroon Lundell
11166  Åsa          Kroon
Merge [11166] into 5838
2
        name surname
5938  Martin  Holmén
9790  Martin  Holmen
Merge [9790] into 5938
2
        name              surname
5975  Patrik  Gustafsson Tingvall
8119  Patrik             Tingvall
Merge [8119] into 5975
2
        name        surname
6042   Laura  Álvarez López
11178  Laura  Alvarez Lopez
Merge [11178] into 6042
2
            name     surname
6061  Ted Martin  Hedesström
9472      Martin  Hedesström
Merge [9472] into 6061
2
         name   surname
6083   Xavier  Groussot
11163  xavier  groussot
Merge [11163] into 6083
2
           name          surname
6192   Ingalill  Nyström Larsson
11964  Ingalill          Nyström
Merge [11964] into 6192
2
           name       surname
6348  Fereshteh  Ahmadi Lewin
9565  Fereshteh        Ahmadi
Merge [9565] into 6348
2
       name    surname
6447  María  Borgström
9427  Maria  Borgström
Merge [9427] into 6447
2
      name            surname
6513  Mona          Holmqvist
9541  Mona  Holmqvist Olander
Merge [9541] into 6513
2
        name               surname
6659   Maria  Eriksdotter Jönhagen
10105  Maria           Eriksdotter
Merge [10105] into 6659
2
       name           surname
6733   Anna       Nordenström
10125  Anna  Jung Nordenström
Merge [10125] into 6733
2
      name   surname
6739   Ola  Winqvist
11148  ola  winqvist
Merge [11148] into 6739
2
           name          surname
6886   Lillemor  Mattsson Hultén
10766  Lillemor  Mattsson Hulten
Merge [10766] into 6886
2
           name               surname
6899   Svetlana           Lagercrantz
10132  Svetlana  Bajalica Lagercrantz
Merge [10132] into 6899
2
         name  surname
7007  Roberts    Joffe
9202    Joffe  Roberts
Merge [9202] into 7007
2
       name      surname
7195   Sara         Maad
11563  Sara  Maad Sasane
Merge [11563] into 7195
2
       name surname
7661   Radu   Mares
11036  radu   Mares
Merge [11036] into 7661
2
              name          surname
7700          Lina  Mtwana Nordlund
12119  Lina Mtwana         Nordlund
Merge [12119] into 7700
2
          name           surname
7733   Susanne  Nylén Spoormaker
10237  Susanne             Nylén
Merge [10237] into 7733
2
         name   surname
7753   Ayesha  De Costa
10202  Ayesha  de Costa
Merge [10202] into 7753
2
            name      surname
7770   Johan von      Schreeb
10254      Johan  von Schreeb
Merge [10254] into 7770
2
      name surname
7787  Anna   Forne
9526  Anna   Forné
Merge [9526] into 7787
2
        name   surname
7788  Hans T  Sternudd
9659    Hans  Sternudd
Merge [9659] into 7788
2
       name  surname
7798  Janne  Flyghed
9797  Janne  flyghed
Merge [9797] into 7798
2
       name           surname
8004  Elena  Lindholm Narvaez
9786  Elena          Lindholm
Merge [9786] into 8004
2
         name     surname
8016   Débora  Rottenberg
10989  Debora  Rottenberg
Merge [10989] into 8016
2
           name surname
8044   Coppelie    Cocq
11185  Coppélie    Cocq
Merge [11185] into 8044
2
        name             surname
8131   Karin          Osvaldsson
11941  Karin  Osvaldsson Cromdal
Merge [11941] into 8131
2
      name              surname
8322  Sara           Irisdotter
9834  Sara  Irisdotter Aldenmyr
Merge [9834] into 8322
2
       name     surname
8491   Sven  Andreasson
11144  Sven  Andréasson
Merge [11144] into 8491
2
         name  surname
8509   Miklos  Lipcsey
10987  Miklós  Lipcsey
Merge [10987] into 8509
2
        name    surname
8530   Karin  Warfvinge
10849  karin  warfvinge
Merge [10849] into 8530
2
             name surname
8770   Aleksander   Mathé
10108  Aleksander   Mathe
Merge [10108] into 8770
2
                name    surname
8878   Lennart B.-Å.  Johansson
10592    Lennart B-Å  Johansson
Merge [10592] into 8878
2
           name   surname
9128   Desmaris   Vincent
10385   Vincent  Desmaris
Merge [10385] into 9128
2
          name  surname
9242   Michael  Malkoch
10585  Michael  malkoch
Merge [10585] into 9242
2
       name         surname
9599   Anna  Forssberg Malm
11113  Anna       Forssberg
Merge [11113] into 9599
2
        name                 surname
10107  Hanna  Augustin (fd Olausson)
12300  Hanna                Olausson
Merge [12300] into 10107
2
             name surname
10305     Sverker  Jagers
12157  Sverker C.  Jagers
Merge [12157] into 10305
2
        name                   surname
10350  André  Ortlieb Guerreiro Cacais
13289  Andre  Ortlieb Guerreiro Cacais
Merge [13289] into 10350
2
          name               surname
10395  Joachim             Rodrigues
11451  Joachim  Rodrigues De Miranda
Merge [11451] into 10395
2
        name         surname
10461  Johan         Uddling
12644  Johan  Uddling Fredin
Merge [12644] into 10461
2
        name               surname
10526  Malin  Zackrisson Oskolkova
12986  Malin            Zackrisson
Merge [12986] into 10526
2
         name surname
10863  Henrik   Green
12337  Henrik   Gréen
Merge [12337] into 10863
2
         name   surname
10875  Brjann  Ljotsson
12791  Brjánn  Ljótsson
Merge [12791] into 10875
2
      name surname
10954  tao     jin
12253  Jin     Tao
Merge [12253] into 10954
2
          name         surname
11439  Carlota  Canalias Gomez
12349  Carlota        Canalias
Merge [12349] into 11439
2
         name          surname
11674  Andres  Alayon Glazunov
12095  Andres  Alayon Glasunov
Merge [12095] into 11674
2
               name surname
11783          Klas  Udekwu
12460  Klas Ifeanyi  Udekwu
Merge [12460] into 11783
2
          name          surname
12053  Fatimah  Dabo Pettersson
13499  Fatimah       Pettersson
Merge [13499] into 12053
2
         name      surname
12750    Rona  Strawbridge
13550  Rona J  Strawbridge
Merge [13550] into 12750
2
           name       surname
12786  Elisabet       Jerlhag
13199  Elisabet  Jerlhag Holm
Merge [13199] into 12786
2
        name             surname
12790  Malin  Björnsdotter Åberg
13235  Malin        Björnsdotter
Merge [13235] into 12790
2
                 name surname
12810  Aisha Siddiqah   Ahmed
13548           Aisha   Ahmed
Merge [13548] into 12810
2
         name surname
12909  Martin   Zelán
13630  Martin   Zelan
Merge [13630] into 12909
2
         name    surname
13077  Shafiq     Rehman
13563  Shafiq  ur Rehman
Merge [13563] into 13077
2
         name            surname
13196  Annika  Gustafsson Asting
13469  Annika             Asting
Merge [13469] into 13196
2
          name      surname
13219  Kerstin  Lagerstrand
13675  kerstin  lagerstrand
Merge [13675] into 13219
2
             name    surname
13325  Jakob Erik  Björnberg
13656       Jakob  Björnberg
Merge [13656] into 13325
2
        name          surname
25   Kotryna  Simonyté Sjödin
945  Kotryna         Simonyté
Merge [945] into 25
2
         name    surname
107    Celine  Fernandez
12749  Céline  Fernandez
Merge [12749] into 107
2
         name            surname
284    Martin           Sahlberg
12058  Martin  Häggblad Sahlberg
Merge [12058] into 284
2
        name      surname
370    Gemma  Mestres Beà
13107  Gemma      Mestres
Merge [13107] into 370
2
            name   surname
445         Omid  Faridani
13248  Omid Reza  Faridani
Merge [13248] into 445
2
         name surname
475    jiajia    chen
12673  Jiajia    Chen
Merge [12673] into 475
2
            name  surname
535         Reza  Younesi
1108  Seyed Reza  Younesi
Merge [1108] into 535
2
         name             surname
543    Mikael  Brandström Durling
13359  Mikael          Brandström
Merge [13359] into 543
2
                     name surname
651   Syed Hassan Mujtaba   Jafri
1109               Hassan   Jafri
Merge [1109] into 651
2
         name  surname
658    Gunnar  Pálsson
12057  Gunnar  Palsson
Merge [12057] into 658
2
           name   surname
660      Stefan  Hallgren
12649  Hallgren    Stefan
Merge [12649] into 660
2
                    name            surname
669               Kjetil  Falkenberg Hansen
13044  Kjetil Falkenberg             Hansen
Merge [13044] into 669
2
                name           surname
690          Cláudio           Lousada
8987  Cláudio Miguel  Lousada Patrício
Merge [8987] into 690
2
         name surname
705    Attila  Szilva
13349  Szilva  Attila
Merge [13349] into 705
2
             name surname
816    M. Sirajul   Islam
11795   M Sirajul   Islam
Merge [11795] into 816
2
     name             surname
988   Ida             Ahlbeck
1666  Ida  Ahlbeck Bergendahl
Merge [1666] into 988
2
                   name         surname
1191   Virgilio Mariano  Salazar Torres
11083           Mariano         Salazar
Merge [11083] into 1191
2
          name   surname
1199  Engström    Patrik
1667    Patrik  Engström
Merge [1667] into 1199
2
        name surname
1284  yikang     rui
1678  Yikang     Rui
Merge [1678] into 1284
2
         name     surname
1419  Therése  Klingstedt
1683  Therese  Klingstedt
Merge [1683] into 1419
2
         name surname
1439  WENJING    ZHOU
1679  Wenjing    Zhou
Merge [1679] into 1439
2
               name surname
1463   Techane Gari  Bosona
11836       Techane  Bosona
Merge [11836] into 1463
2
                  name surname
1587  Richard Baochang    Wang
1918          Baochang    Wang
Merge [1918] into 1587
2
       name            surname
1593  Aishe            Sarshad
1833  Aishe  Angeletti Sarshad
Merge [1833] into 1593
2
            name surname
1599        Adem   Ergül
1751  Adem Björn   Ergül
Merge [1751] into 1599
2
      name                     surname
1607  Emma                       Björk
1774  Emma  Björk (tidigare Johansson)
Merge [1774] into 1607
2
                 name            surname
1816            Marie  Gustafsson Sendén
11286  Susanne, Marie         Gustafsson
Merge [11286] into 1816
2
          name     surname
2368  Patricia  Hedenqvist
2391  patricia  hedenqvist
Merge [2391] into 2368
2
         name  surname
2375  Adriaan  de Jong
2395  Adriaan  De Jong
Merge [2395] into 2375
2
       name        surname
2948  Karin        Geverts
7852  Karin  Kvist Geverts
Merge [7852] into 2948
2
                name  surname
3064   Clara Theresa  Vincent
11304        theresa  vincent
Merge [11304] into 3064
2
        name       surname
3437  Cheryl  Akner- Koler
9651  Cheryl   Akner Koler
Merge [9651] into 3437
2
        name surname
4041   Dawei      Xu
11030     Xu   Dawei
Merge [11030] into 4041
2
       name   surname
4133   Lena  von Koch
10232  Lena  Von Koch
Merge [10232] into 4133
2
         name               surname
4191   Miguel         San Sebastián
10315  Miguel  San Sebastian Chasco
Merge [10315] into 4191
2
        name    surname
4245   Andra  Dedinaite
10527  Andra  Dédinaité
Merge [10527] into 4245
2
           name       surname
4254   Pernilla  Åsenlöf Fors
10251  Pernilla       Åsenlöf
Merge [10251] into 4254
2
        name   surname
4326     Roy  Skjelnes
10619  Roy M  Skjelnes
Merge [10619] into 4326
2
             name surname
4537   José Pedro     Gil
10252  Jose Pedro     Gil
Merge [10252] into 4537
2
                  name surname
4615              Ivan  Ivanov
10581  Ivan Gueorguiev  Ivanov
Merge [10581] into 4615
2
           name surname
4782     Adrian  Clarke
10474  Adrian K  Clarke
Merge [10474] into 4782
2
                name   surname
4789            Anke  Herrmann
10535  Anke Marianne  Herrmann
Merge [10535] into 4789
2
                  name     surname
4980          Gueorgui  Gueorguiev
10566  Gueorgui Kostov  Gueorguiev
Merge [10566] into 4980
2
          name surname
5223   Sitaram  Velaga
10114  sitaram  Velaga
Merge [10114] into 5223
2
        name          surname
5479   Klara         Bolander
11576  Klara  Bolander Laksov
Merge [11576] into 5479
2
                         name    surname
5882                  Margrit  Shildrick
6088  Margrit (Margaret Joan)  Shildrick
Merge [6088] into 5882
2
          name surname
5885    Ronald   Stade
9587  Ronald S   Stade
Merge [9587] into 5885
2
        name        surname
6042   Laura  Álvarez López
11178  Laura  Alvarez Lopez
Merge [11178] into 6042
2
            name surname
6435       Nigel    Musk
9489  Nigel John    Musk
Merge [9489] into 6435
2
           name               surname
6899   Svetlana           Lagercrantz
10132  Svetlana  Bajalica Lagercrantz
Merge [10132] into 6899
2
         name  surname
7007  Roberts    Joffe
9202    Joffe  Roberts
Merge [9202] into 7007
2
            name   surname
7036        Lina  Emilsson
10531  Lina Sors  Emilsson
Merge [10531] into 7036
2
       name      surname
7195   Sara         Maad
11563  Sara  Maad Sasane
Merge [11563] into 7195
2
               name  surname
7312   Konstantinos  Sagonas
10646  KONSTANTINOS  SAGONAS
Merge [10646] into 7312
2
                  name  surname
7655             Jonas  Wensman
11803  Jonas Johansson  Wensman
Merge [11803] into 7655
2
          name           surname
7733   Susanne  Nylén Spoormaker
10237  Susanne             Nylén
Merge [10237] into 7733
2
         name   surname
7753   Ayesha  De Costa
10202  Ayesha  de Costa
Merge [10202] into 7753
2
            name      surname
7770   Johan von      Schreeb
10254      Johan  von Schreeb
Merge [10254] into 7770
2
       name           surname
8004  Elena  Lindholm Narvaez
9786  Elena          Lindholm
Merge [9786] into 8004
2
           name surname
8044   Coppelie    Cocq
11185  Coppélie    Cocq

In [130]:
print(merge_orders_libris)
print(merge_orders_dart)

merge_orders_libris_bases = [x['base'] for x in merge_orders_libris]
merge_orders_dart_bases = [x['base'] for x in merge_orders_dart]

merge_orders = []

matches = 0

for mol in merge_orders_libris:
    if mol['base'] in merge_orders_dart_bases:
        dart_index = merge_orders_dart_bases.index(mol['base'])
        dart_dup = merge_orders_dart[dart_index]['dup']
        if dart_dup == mol['dup']:
            print("MATCH", mol['dup'])
            matches = matches + 1
            merge_orders.append(mol)
        else:
            print("MISMATCH")
    else:
        print("ONLY LIBRIS", mol)
        merge_orders.append(mol)


for mod in merge_orders_dart:
    if mod['base'] not in merge_orders_libris_bases:
        print("ONLY DART", mod)
        merge_orders.append(mod)

print(len(merge_orders_libris))
print(len(merge_orders_dart))
print(matches)
print(len(merge_orders))

[{'base': 25, 'dup': array([945])}, {'base': 107, 'dup': array([12749])}, {'base': 284, 'dup': array([12058])}, {'base': 445, 'dup': array([13248])}, {'base': 475, 'dup': array([12673])}, {'base': 543, 'dup': array([13359])}, {'base': 651, 'dup': array([1109])}, {'base': 660, 'dup': array([12649])}, {'base': 661, 'dup': array([1135])}, {'base': 690, 'dup': array([8987])}, {'base': 793, 'dup': array([13535])}, {'base': 816, 'dup': array([11795])}, {'base': 882, 'dup': array([1903])}, {'base': 988, 'dup': array([1666])}, {'base': 1000, 'dup': array([11607])}, {'base': 1013, 'dup': array([9302])}, {'base': 1181, 'dup': array([1432])}, {'base': 1191, 'dup': array([11083])}, {'base': 1199, 'dup': array([1667])}, {'base': 1236, 'dup': array([11124])}, {'base': 1284, 'dup': array([1678])}, {'base': 1300, 'dup': array([1345])}, {'base': 1349, 'dup': array([1764])}, {'base': 1419, 'dup': array([1683])}, {'base': 1439, 'dup': array([1679])}, {'base': 1516, 'dup': array([2033])}, {'base': 1588, 'dup': array([1811])}, {'base': 1593, 'dup': array([1833])}, {'base': 1607, 'dup': array([1774])}, {'base': 1613, 'dup': array([1672])}, {'base': 2368, 'dup': array([2391])}, {'base': 2375, 'dup': array([2395])}, {'base': 2397, 'dup': array([8625])}, {'base': 2420, 'dup': array([6928])}, {'base': 2565, 'dup': array([7679])}, {'base': 2948, 'dup': array([7852])}, {'base': 3096, 'dup': array([11955])}, {'base': 3208, 'dup': array([9563])}, {'base': 3327, 'dup': array([9951])}, {'base': 3381, 'dup': array([11114])}, {'base': 3437, 'dup': array([9651])}, {'base': 3621, 'dup': array([10589])}, {'base': 3624, 'dup': array([10038])}, {'base': 3924, 'dup': array([10956])}, {'base': 4017, 'dup': array([10206])}, {'base': 4041, 'dup': array([11030])}, {'base': 4056, 'dup': array([11200])}, {'base': 4133, 'dup': array([10232])}, {'base': 4156, 'dup': array([10211])}, {'base': 4250, 'dup': array([10296])}, {'base': 4254, 'dup': array([10251])}, {'base': 4365, 'dup': array([10521])}, {'base': 4559, 'dup': array([11963])}, {'base': 5223, 'dup': array([10114])}, {'base': 5241, 'dup': array([10698])}, {'base': 5286, 'dup': array([9883])}, {'base': 5476, 'dup': array([9796])}, {'base': 5479, 'dup': array([11576])}, {'base': 5561, 'dup': array([11255])}, {'base': 5571, 'dup': array([9759])}, {'base': 5614, 'dup': array([11799])}, {'base': 5838, 'dup': array([11166])}, {'base': 5938, 'dup': array([9790])}, {'base': 5975, 'dup': array([8119])}, {'base': 6042, 'dup': array([11178])}, {'base': 6061, 'dup': array([9472])}, {'base': 6083, 'dup': array([11163])}, {'base': 6192, 'dup': array([11964])}, {'base': 6348, 'dup': array([9565])}, {'base': 6447, 'dup': array([9427])}, {'base': 6513, 'dup': array([9541])}, {'base': 6659, 'dup': array([10105])}, {'base': 6733, 'dup': array([10125])}, {'base': 6739, 'dup': array([11148])}, {'base': 6886, 'dup': array([10766])}, {'base': 6899, 'dup': array([10132])}, {'base': 7007, 'dup': array([9202])}, {'base': 7195, 'dup': array([11563])}, {'base': 7661, 'dup': array([11036])}, {'base': 7700, 'dup': array([12119])}, {'base': 7733, 'dup': array([10237])}, {'base': 7753, 'dup': array([10202])}, {'base': 7770, 'dup': array([10254])}, {'base': 7787, 'dup': array([9526])}, {'base': 7788, 'dup': array([9659])}, {'base': 7798, 'dup': array([9797])}, {'base': 8004, 'dup': array([9786])}, {'base': 8016, 'dup': array([10989])}, {'base': 8044, 'dup': array([11185])}, {'base': 8131, 'dup': array([11941])}, {'base': 8322, 'dup': array([9834])}, {'base': 8491, 'dup': array([11144])}, {'base': 8509, 'dup': array([10987])}, {'base': 8530, 'dup': array([10849])}, {'base': 8770, 'dup': array([10108])}, {'base': 8878, 'dup': array([10592])}, {'base': 9128, 'dup': array([10385])}, {'base': 9242, 'dup': array([10585])}, {'base': 9599, 'dup': array([11113])}, {'base': 10107, 'dup': array([12300])}, {'base': 10305, 'dup': array([12157])}, {'base': 10350, 'dup': array([13289])}, {'base': 10395, 'dup': array([11451])}, {'base': 10461, 'dup': array([12644])}, {'base': 10526, 'dup': array([12986])}, {'base': 10863, 'dup': array([12337])}, {'base': 10875, 'dup': array([12791])}, {'base': 10954, 'dup': array([12253])}, {'base': 11439, 'dup': array([12349])}, {'base': 11674, 'dup': array([12095])}, {'base': 11783, 'dup': array([12460])}, {'base': 12053, 'dup': array([13499])}, {'base': 12750, 'dup': array([13550])}, {'base': 12786, 'dup': array([13199])}, {'base': 12790, 'dup': array([13235])}, {'base': 12810, 'dup': array([13548])}, {'base': 12909, 'dup': array([13630])}, {'base': 13077, 'dup': array([13563])}, {'base': 13196, 'dup': array([13469])}, {'base': 13219, 'dup': array([13675])}, {'base': 13325, 'dup': array([13656])}]
[{'base': 25, 'dup': array([945])}, {'base': 107, 'dup': array([12749])}, {'base': 284, 'dup': array([12058])}, {'base': 370, 'dup': array([13107])}, {'base': 445, 'dup': array([13248])}, {'base': 475, 'dup': array([12673])}, {'base': 535, 'dup': array([1108])}, {'base': 543, 'dup': array([13359])}, {'base': 651, 'dup': array([1109])}, {'base': 658, 'dup': array([12057])}, {'base': 660, 'dup': array([12649])}, {'base': 669, 'dup': array([13044])}, {'base': 690, 'dup': array([8987])}, {'base': 705, 'dup': array([13349])}, {'base': 816, 'dup': array([11795])}, {'base': 988, 'dup': array([1666])}, {'base': 1191, 'dup': array([11083])}, {'base': 1199, 'dup': array([1667])}, {'base': 1284, 'dup': array([1678])}, {'base': 1419, 'dup': array([1683])}, {'base': 1439, 'dup': array([1679])}, {'base': 1463, 'dup': array([11836])}, {'base': 1587, 'dup': array([1918])}, {'base': 1593, 'dup': array([1833])}, {'base': 1599, 'dup': array([1751])}, {'base': 1607, 'dup': array([1774])}, {'base': 1816, 'dup': array([11286])}, {'base': 2368, 'dup': array([2391])}, {'base': 2375, 'dup': array([2395])}, {'base': 2948, 'dup': array([7852])}, {'base': 3064, 'dup': array([11304])}, {'base': 3437, 'dup': array([9651])}, {'base': 4041, 'dup': array([11030])}, {'base': 4133, 'dup': array([10232])}, {'base': 4191, 'dup': array([10315])}, {'base': 4245, 'dup': array([10527])}, {'base': 4254, 'dup': array([10251])}, {'base': 4326, 'dup': array([10619])}, {'base': 4537, 'dup': array([10252])}, {'base': 4615, 'dup': array([10581])}, {'base': 4782, 'dup': array([10474])}, {'base': 4789, 'dup': array([10535])}, {'base': 4980, 'dup': array([10566])}, {'base': 5223, 'dup': array([10114])}, {'base': 5479, 'dup': array([11576])}, {'base': 5882, 'dup': array([6088])}, {'base': 5885, 'dup': array([9587])}, {'base': 6042, 'dup': array([11178])}, {'base': 6435, 'dup': array([9489])}, {'base': 6899, 'dup': array([10132])}, {'base': 7007, 'dup': array([9202])}, {'base': 7036, 'dup': array([10531])}, {'base': 7195, 'dup': array([11563])}, {'base': 7312, 'dup': array([10646])}, {'base': 7655, 'dup': array([11803])}, {'base': 7733, 'dup': array([10237])}, {'base': 7753, 'dup': array([10202])}, {'base': 7770, 'dup': array([10254])}, {'base': 8004, 'dup': array([9786])}, {'base': 8044, 'dup': array([11185])}, {'base': 8495, 'dup': array([10127])}, {'base': 8509, 'dup': array([10987])}, {'base': 9141, 'dup': array([10454])}, {'base': 9165, 'dup': array([10680])}, {'base': 9330, 'dup': array([10233])}, {'base': 10350, 'dup': array([13289])}, {'base': 10354, 'dup': array([13538])}, {'base': 10863, 'dup': array([12337])}, {'base': 10875, 'dup': array([12791])}, {'base': 11439, 'dup': array([12349])}, {'base': 11539, 'dup': array([13192])}, {'base': 11783, 'dup': array([12460])}, {'base': 11785, 'dup': array([12636])}, {'base': 12053, 'dup': array([13499])}, {'base': 12750, 'dup': array([13550])}, {'base': 12810, 'dup': array([13548])}, {'base': 12909, 'dup': array([13630])}, {'base': 13077, 'dup': array([13563])}, {'base': 13325, 'dup': array([13656])}, {'base': 13446, 'dup': array([13672])}]
MATCH [945]
MATCH [12749]
MATCH [12058]
MATCH [13248]
MATCH [12673]
MATCH [13359]
MATCH [1109]
MATCH [12649]
ONLY LIBRIS {'base': 661, 'dup': array([1135])}
MATCH [8987]
ONLY LIBRIS {'base': 793, 'dup': array([13535])}
MATCH [11795]
ONLY LIBRIS {'base': 882, 'dup': array([1903])}
MATCH [1666]
ONLY LIBRIS {'base': 1000, 'dup': array([11607])}
ONLY LIBRIS {'base': 1013, 'dup': array([9302])}
ONLY LIBRIS {'base': 1181, 'dup': array([1432])}
MATCH [11083]
MATCH [1667]
ONLY LIBRIS {'base': 1236, 'dup': array([11124])}
MATCH [1678]
ONLY LIBRIS {'base': 1300, 'dup': array([1345])}
ONLY LIBRIS {'base': 1349, 'dup': array([1764])}
MATCH [1683]
MATCH [1679]
ONLY LIBRIS {'base': 1516, 'dup': array([2033])}
ONLY LIBRIS {'base': 1588, 'dup': array([1811])}
MATCH [1833]
MATCH [1774]
ONLY LIBRIS {'base': 1613, 'dup': array([1672])}
MATCH [2391]
MATCH [2395]
ONLY LIBRIS {'base': 2397, 'dup': array([8625])}
ONLY LIBRIS {'base': 2420, 'dup': array([6928])}
ONLY LIBRIS {'base': 2565, 'dup': array([7679])}
MATCH [7852]
ONLY LIBRIS {'base': 3096, 'dup': array([11955])}
ONLY LIBRIS {'base': 3208, 'dup': array([9563])}
ONLY LIBRIS {'base': 3327, 'dup': array([9951])}
ONLY LIBRIS {'base': 3381, 'dup': array([11114])}
MATCH [9651]
ONLY LIBRIS {'base': 3621, 'dup': array([10589])}
ONLY LIBRIS {'base': 3624, 'dup': array([10038])}
ONLY LIBRIS {'base': 3924, 'dup': array([10956])}
ONLY LIBRIS {'base': 4017, 'dup': array([10206])}
MATCH [11030]
ONLY LIBRIS {'base': 4056, 'dup': array([11200])}
MATCH [10232]
ONLY LIBRIS {'base': 4156, 'dup': array([10211])}
ONLY LIBRIS {'base': 4250, 'dup': array([10296])}
MATCH [10251]
ONLY LIBRIS {'base': 4365, 'dup': array([10521])}
ONLY LIBRIS {'base': 4559, 'dup': array([11963])}
MATCH [10114]
ONLY LIBRIS {'base': 5241, 'dup': array([10698])}
ONLY LIBRIS {'base': 5286, 'dup': array([9883])}
ONLY LIBRIS {'base': 5476, 'dup': array([9796])}
MATCH [11576]
ONLY LIBRIS {'base': 5561, 'dup': array([11255])}
ONLY LIBRIS {'base': 5571, 'dup': array([9759])}
ONLY LIBRIS {'base': 5614, 'dup': array([11799])}
ONLY LIBRIS {'base': 5838, 'dup': array([11166])}
ONLY LIBRIS {'base': 5938, 'dup': array([9790])}
ONLY LIBRIS {'base': 5975, 'dup': array([8119])}
MATCH [11178]
ONLY LIBRIS {'base': 6061, 'dup': array([9472])}
ONLY LIBRIS {'base': 6083, 'dup': array([11163])}
ONLY LIBRIS {'base': 6192, 'dup': array([11964])}
ONLY LIBRIS {'base': 6348, 'dup': array([9565])}
ONLY LIBRIS {'base': 6447, 'dup': array([9427])}
ONLY LIBRIS {'base': 6513, 'dup': array([9541])}
ONLY LIBRIS {'base': 6659, 'dup': array([10105])}
ONLY LIBRIS {'base': 6733, 'dup': array([10125])}
ONLY LIBRIS {'base': 6739, 'dup': array([11148])}
ONLY LIBRIS {'base': 6886, 'dup': array([10766])}
MATCH [10132]
MATCH [9202]
MATCH [11563]
ONLY LIBRIS {'base': 7661, 'dup': array([11036])}
ONLY LIBRIS {'base': 7700, 'dup': array([12119])}
MATCH [10237]
MATCH [10202]
MATCH [10254]
ONLY LIBRIS {'base': 7787, 'dup': array([9526])}
ONLY LIBRIS {'base': 7788, 'dup': array([9659])}
ONLY LIBRIS {'base': 7798, 'dup': array([9797])}
MATCH [9786]
ONLY LIBRIS {'base': 8016, 'dup': array([10989])}
MATCH [11185]
ONLY LIBRIS {'base': 8131, 'dup': array([11941])}
ONLY LIBRIS {'base': 8322, 'dup': array([9834])}
ONLY LIBRIS {'base': 8491, 'dup': array([11144])}
MATCH [10987]
ONLY LIBRIS {'base': 8530, 'dup': array([10849])}
ONLY LIBRIS {'base': 8770, 'dup': array([10108])}
ONLY LIBRIS {'base': 8878, 'dup': array([10592])}
ONLY LIBRIS {'base': 9128, 'dup': array([10385])}
ONLY LIBRIS {'base': 9242, 'dup': array([10585])}
ONLY LIBRIS {'base': 9599, 'dup': array([11113])}
ONLY LIBRIS {'base': 10107, 'dup': array([12300])}
ONLY LIBRIS {'base': 10305, 'dup': array([12157])}
MATCH [13289]
ONLY LIBRIS {'base': 10395, 'dup': array([11451])}
ONLY LIBRIS {'base': 10461, 'dup': array([12644])}
ONLY LIBRIS {'base': 10526, 'dup': array([12986])}
MATCH [12337]
MATCH [12791]
ONLY LIBRIS {'base': 10954, 'dup': array([12253])}
MATCH [12349]
ONLY LIBRIS {'base': 11674, 'dup': array([12095])}
MATCH [12460]
MATCH [13499]
MATCH [13550]
ONLY LIBRIS {'base': 12786, 'dup': array([13199])}
ONLY LIBRIS {'base': 12790, 'dup': array([13235])}
MATCH [13548]
MATCH [13630]
MATCH [13563]
ONLY LIBRIS {'base': 13196, 'dup': array([13469])}
ONLY LIBRIS {'base': 13219, 'dup': array([13675])}
MATCH [13656]
ONLY DART {'base': 370, 'dup': array([13107])}
ONLY DART {'base': 535, 'dup': array([1108])}
ONLY DART {'base': 658, 'dup': array([12057])}
ONLY DART {'base': 669, 'dup': array([13044])}
ONLY DART {'base': 705, 'dup': array([13349])}
ONLY DART {'base': 1463, 'dup': array([11836])}
ONLY DART {'base': 1587, 'dup': array([1918])}
ONLY DART {'base': 1599, 'dup': array([1751])}
ONLY DART {'base': 1816, 'dup': array([11286])}
ONLY DART {'base': 3064, 'dup': array([11304])}
ONLY DART {'base': 4191, 'dup': array([10315])}
ONLY DART {'base': 4245, 'dup': array([10527])}
ONLY DART {'base': 4326, 'dup': array([10619])}
ONLY DART {'base': 4537, 'dup': array([10252])}
ONLY DART {'base': 4615, 'dup': array([10581])}
ONLY DART {'base': 4782, 'dup': array([10474])}
ONLY DART {'base': 4789, 'dup': array([10535])}
ONLY DART {'base': 4980, 'dup': array([10566])}
ONLY DART {'base': 5882, 'dup': array([6088])}
ONLY DART {'base': 5885, 'dup': array([9587])}
ONLY DART {'base': 6435, 'dup': array([9489])}
ONLY DART {'base': 7036, 'dup': array([10531])}
ONLY DART {'base': 7312, 'dup': array([10646])}
ONLY DART {'base': 7655, 'dup': array([11803])}
ONLY DART {'base': 8495, 'dup': array([10127])}
ONLY DART {'base': 9141, 'dup': array([10454])}
ONLY DART {'base': 9165, 'dup': array([10680])}
ONLY DART {'base': 9330, 'dup': array([10233])}
ONLY DART {'base': 10354, 'dup': array([13538])}
ONLY DART {'base': 11539, 'dup': array([13192])}
ONLY DART {'base': 11785, 'dup': array([12636])}
ONLY DART {'base': 13446, 'dup': array([13672])}
121
80
48
153

In [131]:
df_merging = pd.DataFrame(columns=['name', 'surname', 'app_ids', 'duplicates'])

# Now we conduct the merges according to the merger_orders
duplicate_authors_clean = duplicate_authors.copy()

for mo in merge_orders:
    keep_row = duplicate_authors_clean.iloc[mo['base']]
    print(keep_row)
    df_merging = df_merging.append(keep_row, ignore_index=True)

    for row in mo['dup']:
        dup_row = duplicate_authors_clean.iloc[row]
        print(dup_row)
        df_merging = df_merging.append(dup_row, ignore_index=True)

        for a_id in dup_row['app_ids']:
            if a_id not in keep_row['app_ids']:
                keep_row['app_ids'] =  keep_row['app_ids'] + [a_id]
            print(keep_row['app_ids'])

        duplicate_authors_clean.iloc[mo['base']] = keep_row
        #duplicate_authors.iloc[mo['base']]


print(df_merging)

name                  Kotryna
surname       Simonyté Sjödin
app_ids          [2016-01238]
duplicates                  0
Name: 25, dtype: object
name               Kotryna
surname           Simonyté
app_ids       [2012-06616]
duplicates               0
Name: 945, dtype: object
['2016-01238', '2012-06616']
name                            Celine
surname                      Fernandez
app_ids       [2016-02104, 2015-03150]
duplicates                           1
Name: 107, dtype: object
name                Céline
surname          Fernandez
app_ids       [2013-02412]
duplicates               0
Name: 12749, dtype: object
['2016-02104', '2015-03150', '2013-02412']
name                            Martin
surname                       Sahlberg
app_ids       [2016-03585, 2015-04893]
duplicates                           1
Name: 284, dtype: object
name                                        Martin
surname                          Häggblad Sahlberg
app_ids       [2014-03943, 2012-04348, 2013-05413]
duplicates                                       2
Name: 12058, dtype: object
['2016-03585', '2015-04893', '2014-03943']
['2016-03585', '2015-04893', '2014-03943', '2012-04348']
['2016-03585', '2015-04893', '2014-03943', '2012-04348', '2013-05413']
name                              Omid
surname                       Faridani
app_ids       [2016-04372, 2015-04463]
duplicates                           1
Name: 445, dtype: object
name             Omid Reza
surname           Faridani
app_ids       [2014-02874]
duplicates               0
Name: 13248, dtype: object
['2016-04372', '2015-04463', '2014-02874']
name                            jiajia
surname                           chen
app_ids       [2016-04489, 2015-03779]
duplicates                           1
Name: 475, dtype: object
name                                        Jiajia
surname                                       Chen
app_ids       [2012-04767, 2013-05374, 2014-05777]
duplicates                                       2
Name: 12673, dtype: object
['2016-04489', '2015-03779', '2012-04767']
['2016-04489', '2015-03779', '2012-04767', '2013-05374']
['2016-04489', '2015-03779', '2012-04767', '2013-05374', '2014-05777']
name                      Mikael
surname       Brandström Durling
app_ids             [2016-04767]
duplicates                     0
Name: 543, dtype: object
name                Mikael
surname         Brandström
app_ids       [2014-04647]
duplicates               0
Name: 13359, dtype: object
['2016-04767', '2014-04647']
name          Syed Hassan Mujtaba
surname                     Jafri
app_ids              [2016-05185]
duplicates                      0
Name: 651, dtype: object
name                            Hassan
surname                          Jafri
app_ids       [2013-00412, 2013-07518]
duplicates                           1
Name: 1109, dtype: object
['2016-05185', '2013-00412']
['2016-05185', '2013-00412', '2013-07518']
name                                        Stefan
surname                                   Hallgren
app_ids       [2016-05227, 2014-04655, 2015-04447]
duplicates                                       2
Name: 660, dtype: object
name                          Hallgren
surname                         Stefan
app_ids       [2012-04641, 2013-04967]
duplicates                           1
Name: 12649, dtype: object
['2016-05227', '2014-04655', '2015-04447', '2012-04641']
['2016-05227', '2014-04655', '2015-04447', '2012-04641', '2013-04967']
name                            Markus
surname                        Franzen
app_ids       [2016-05228, 2015-04808]
duplicates                           1
Name: 661, dtype: object
name                                        Markus
surname                                    Franzén
app_ids       [2013-00442, 2013-04400, 2014-05193]
duplicates                                       2
Name: 1135, dtype: object
['2016-05228', '2015-04808', '2013-00442']
['2016-05228', '2015-04808', '2013-00442', '2013-04400']
['2016-05228', '2015-04808', '2013-00442', '2013-04400', '2014-05193']
name                           Cláudio
surname                        Lousada
app_ids       [2016-05320, 2015-04004]
duplicates                           1
Name: 690, dtype: object
name            Cláudio Miguel
surname       Lousada Patrício
app_ids           [2014-04977]
duplicates                   0
Name: 8987, dtype: object
['2016-05320', '2015-04004', '2014-04977']
name                           Gabriel
surname                       Svensson
app_ids       [2012-00281, 2012-04543]
duplicates                           1
Name: 793, dtype: object
name                    Gabriel
surname       Svensson Birkedal
app_ids            [2015-03431]
duplicates                    0
Name: 13535, dtype: object
['2012-00281', '2012-04543', '2015-03431']
name                        M. Sirajul
surname                          Islam
app_ids       [2012-00307, 2012-06572]
duplicates                           1
Name: 816, dtype: object
name             M Sirajul
surname              Islam
app_ids       [2016-05603]
duplicates               0
Name: 11795, dtype: object
['2012-00307', '2012-06572', '2016-05603']
name                                                Abdel Baten
surname                                                   Miaji
app_ids       [2012-00402, 2012-06706, 2013-00307, 2013-0745...
duplicates                                                    9
Name: 882, dtype: object
name                 Baten
surname              Miaji
app_ids       [2015-06543]
duplicates               0
Name: 1903, dtype: object
['2012-00402', '2012-06706', '2013-00307', '2013-07458', '2014-00202', '2014-06782', '2012-01166', '2013-01001', '2014-00926', '2012-05496', '2015-06543']
name                               Ida
surname                        Ahlbeck
app_ids       [2012-06688, 2014-06934]
duplicates                           1
Name: 988, dtype: object
name                               Ida
surname             Ahlbeck Bergendahl
app_ids       [2015-00260, 2015-04348]
duplicates                           1
Name: 1666, dtype: object
['2012-06688', '2014-06934', '2015-00260']
['2012-06688', '2014-06934', '2015-00260', '2015-04348']
name                   Alli
surname       Klapp Lekholm
app_ids        [2012-06704]
duplicates                0
Name: 1000, dtype: object
name                  Alli
surname              Klapp
app_ids       [2016-04503]
duplicates               0
Name: 11607, dtype: object
['2012-06704', '2016-04503']
name                 Fabio
surname          Del Sordo
app_ids       [2013-00264]
duplicates               0
Name: 1013, dtype: object
name                 Fabio
surname        Del Missier
app_ids       [2014-00686]
duplicates               0
Name: 9302, dtype: object
['2013-00264', '2014-00686']
name             Catharina
surname             Medrek
app_ids       [2013-07246]
duplicates               0
Name: 1181, dtype: object
name                         Catharina
surname          Hagerling (fd Medrek)
app_ids       [2014-00406, 2014-06806]
duplicates                           1
Name: 1432, dtype: object
['2013-07246', '2014-00406']
['2013-07246', '2014-00406', '2014-06806']
name          Virgilio Mariano
surname         Salazar Torres
app_ids           [2013-07273]
duplicates                   0
Name: 1191, dtype: object
name               Mariano
surname            Salazar
app_ids       [2016-02081]
duplicates               0
Name: 11083, dtype: object
['2013-07273', '2016-02081']
name                          Engström
surname                         Patrik
app_ids       [2013-07298, 2014-00424]
duplicates                           1
Name: 1199, dtype: object
name                Patrik
surname           Engström
app_ids       [2015-00262]
duplicates               0
Name: 1667, dtype: object
['2013-07298', '2014-00424', '2015-00262']
name                                                 Eva-Marie
surname                                                  Ström
app_ids       [2013-07364, 2014-00244, 2013-06358, 2014-03518]
duplicates                                                   3
Name: 1236, dtype: object
name             Eva-Marie
surname        Bloom Ström
app_ids       [2016-02226]
duplicates               0
Name: 11124, dtype: object
['2013-07364', '2014-00244', '2013-06358', '2014-03518', '2016-02226']
name                yikang
surname                rui
app_ids       [2013-07450]
duplicates               0
Name: 1284, dtype: object
name                Yikang
surname                Rui
app_ids       [2015-00310]
duplicates               0
Name: 1678, dtype: object
['2013-07450', '2015-00310']
name                            MINE
surname       LEMBERG PEDERSEN ISLAR
app_ids                 [2013-07476]
duplicates                         0
Name: 1300, dtype: object
name                            Mine
surname       Lemberg Pedersen Islar
app_ids                 [2014-00208]
duplicates                         0
Name: 1345, dtype: object
['2013-07476', '2014-00208']
name                           Matilda
surname                       Svensson
app_ids       [2014-00223, 2014-00851]
duplicates                           1
Name: 1349, dtype: object
name                           Matilda
surname             Svensson Chowdhury
app_ids       [2015-00591, 2016-02490]
duplicates                           1
Name: 1764, dtype: object
['2014-00223', '2014-00851', '2015-00591']
['2014-00223', '2014-00851', '2015-00591', '2016-02490']
name                           Therése
surname                     Klingstedt
app_ids       [2014-00384, 2014-06881]
duplicates                           1
Name: 1419, dtype: object
name               Therese
surname         Klingstedt
app_ids       [2015-00319]
duplicates               0
Name: 1683, dtype: object
['2014-00384', '2014-06881', '2015-00319']
name                           WENJING
surname                           ZHOU
app_ids       [2014-00429, 2014-06869]
duplicates                           1
Name: 1439, dtype: object
name               Wenjing
surname               Zhou
app_ids       [2015-00311]
duplicates               0
Name: 1679, dtype: object
['2014-00429', '2014-06869', '2015-00311']
name               Katinka
surname           Svanberg
app_ids       [2014-06758]
duplicates               0
Name: 1516, dtype: object

<ipython-input-131-67ef44a83e14>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  keep_row['app_ids'] =  keep_row['app_ids'] + [a_id]

name               katinka
surname           svanberg
app_ids       [2016-00354]
duplicates               0
Name: 2033, dtype: object
['2014-06758', '2016-00354']
name                    CI
surname               SONG
app_ids       [2014-06890]
duplicates               0
Name: 1588, dtype: object
name                                Ci
surname                           Song
app_ids       [2015-06343, 2016-00598]
duplicates                           1
Name: 1811, dtype: object
['2014-06890', '2015-06343']
['2014-06890', '2015-06343', '2016-00598']
name                 Aishe
surname            Sarshad
app_ids       [2014-06900]
duplicates               0
Name: 1593, dtype: object
name                      Aishe
surname       Angeletti Sarshad
app_ids            [2015-06376]
duplicates                    0
Name: 1833, dtype: object
['2014-06900', '2015-06376']
name                  Emma
surname              Björk
app_ids       [2014-06918]
duplicates               0
Name: 1607, dtype: object
name                                Emma
surname       Björk (tidigare Johansson)
app_ids                     [2015-00624]
duplicates                             0
Name: 1774, dtype: object
['2014-06918', '2015-00624']
name             Moohammed
surname        Wasim Yahia
app_ids       [2014-06928]
duplicates               0
Name: 1613, dtype: object
name                   Moohammed Wasim
surname                          Yahia
app_ids       [2015-00283, 2015-06594]
duplicates                           1
Name: 1672, dtype: object
['2014-06928', '2015-00283']
['2014-06928', '2015-00283', '2015-06594']
name                          Patricia
surname                     Hedenqvist
app_ids       [2014-02808, 2016-01970]
duplicates                           1
Name: 2368, dtype: object
name              patricia
surname         hedenqvist
app_ids       [2015-03090]
duplicates               0
Name: 2391, dtype: object
['2014-02808', '2016-01970', '2015-03090']
name               Adriaan
surname            de Jong
app_ids       [2014-02862]
duplicates               0
Name: 2375, dtype: object
name               Adriaan
surname            De Jong
app_ids       [2015-03174]
duplicates               0
Name: 2395, dtype: object
['2014-02862', '2015-03174']
name                           laurent
surname                         roybon
app_ids       [2015-03198, 2015-03684]
duplicates                           1
Name: 2397, dtype: object
name                                       Laurent
surname                                     Roybon
app_ids       [2014-03260, 2012-02558, 2013-03349]
duplicates                                       2
Name: 8625, dtype: object
['2015-03198', '2015-03684', '2014-03260']
['2015-03198', '2015-03684', '2014-03260', '2012-02558']
['2015-03198', '2015-03684', '2014-03260', '2012-02558', '2013-03349']
name          Corrado Maria
surname               Cilio
app_ids        [2015-03648]
duplicates                0
Name: 2420, dtype: object
name               Corrado
surname              Cilio
app_ids       [2013-03766]
duplicates               0
Name: 6928, dtype: object
['2015-03648', '2013-03766']
name                                        Zeinab
surname                     Nour-Eddine Tag-Eldeen
app_ids       [2014-10155, 2015-03440, 2016-05634]
duplicates                                       2
Name: 2565, dtype: object
name                            Zeinab
surname          Noureddine Tag-Edleen
app_ids       [2013-06443, 2014-05968]
duplicates                           1
Name: 7679, dtype: object
['2014-10155', '2015-03440', '2016-05634', '2013-06443']
['2014-10155', '2015-03440', '2016-05634', '2013-06443', '2014-05968']
name                                         Karin
surname                                    Geverts
app_ids       [2016-03737, 2015-01174, 2016-02451]
duplicates                                       2
Name: 2948, dtype: object
name                                         Karin
surname                              Kvist Geverts
app_ids       [2013-00824, 2014-00912, 2012-05492]
duplicates                                       2
Name: 7852, dtype: object
['2016-03737', '2015-01174', '2016-02451', '2013-00824']
['2016-03737', '2015-01174', '2016-02451', '2013-00824', '2014-00912']
['2016-03737', '2015-01174', '2016-02451', '2013-00824', '2014-00912', '2012-05492']
name                                     Charlotte
surname                           Hylten-Cavallius
app_ids       [2012-01011, 2013-01828, 2014-01395]
duplicates                                       2
Name: 3096, dtype: object
name                 Charlotte
surname       Hyltén-Cavallius
app_ids           [2016-02209]
duplicates                   0
Name: 11955, dtype: object
['2012-01011', '2013-01828', '2014-01395', '2016-02209']
name                                          Leif
surname                                   Wegerman
app_ids       [2012-01141, 2013-01476, 2014-00905]
duplicates                                       2
Name: 3208, dtype: object
name                  Leif
surname           wegerman
app_ids       [2015-01224]
duplicates               0
Name: 9563, dtype: object
['2012-01141', '2013-01476', '2014-00905', '2015-01224']
name                             Malin
surname                Sveningsson Elm
app_ids       [2012-01286, 2014-01257]
duplicates                           1
Name: 3327, dtype: object
name                             Malin
surname                    Sveningsson
app_ids       [2015-02079, 2016-02698]
duplicates                           1
Name: 9951, dtype: object
['2012-01286', '2014-01257', '2015-02079']
['2012-01286', '2014-01257', '2015-02079', '2016-02698']
name                                                   Therese
surname                                         Lindahl Nordin
app_ids       [2012-01350, 2013-01152, 2013-06382, 2014-01680]
duplicates                                                   3
Name: 3381, dtype: object
name               Therese
surname            Lindahl
app_ids       [2016-02180]
duplicates               0
Name: 11114, dtype: object
['2012-01350', '2013-01152', '2013-06382', '2014-01680', '2016-02180']
name                Cheryl
surname       Akner- Koler
app_ids       [2012-01435]
duplicates               0
Name: 3437, dtype: object
name                Cheryl
surname        Akner Koler
app_ids       [2015-01415]
duplicates               0
Name: 9651, dtype: object
['2012-01435', '2015-01415']
name                                                Ulrich von
surname                                        Pawel-Rammingen
app_ids       [2012-01919, 2013-03259, 2014-03164, 2014-04421]
duplicates                                                   3
Name: 3621, dtype: object
name                            Ulrich
surname            von Pawel-Rammingen
app_ids       [2015-04792, 2016-05282]
duplicates                           1
Name: 10589, dtype: object
['2012-01919', '2013-03259', '2014-03164', '2014-04421', '2015-04792']
['2012-01919', '2013-03259', '2014-03164', '2014-04421', '2015-04792', '2016-05282']
name                              Leif
surname                       Kirsebom
app_ids       [2012-01924, 2014-04486]
duplicates                           1
Name: 3624, dtype: object
name                            Leif A
surname                       Kirsebom
app_ids       [2015-02370, 2016-04602]
duplicates                           1
Name: 10038, dtype: object
['2012-01924', '2014-04486', '2015-02370']
['2012-01924', '2014-04486', '2015-02370', '2016-04602']
name                            Petter
surname                        Hedlund
app_ids       [2012-02619, 2013-02980]
duplicates                           1
Name: 3924, dtype: object
name                petter
surname            hedlund
app_ids       [2016-01613]
duplicates               0
Name: 10956, dtype: object
['2012-02619', '2013-02980', '2016-01613']
name                                                    Heléne
surname                                                 Norder
app_ids       [2012-02735, 2013-03128, 2013-06552, 2014-03076]
duplicates                                                   3
Name: 4017, dtype: object
name                Helene
surname             Norder
app_ids       [2015-02866]
duplicates               0
Name: 10206, dtype: object
['2012-02735', '2013-03128', '2013-06552', '2014-03076', '2015-02866']
name                 Dawei
surname                 Xu
app_ids       [2012-02762]
duplicates               0
Name: 4041, dtype: object
name                    Xu
surname              Dawei
app_ids       [2016-01899]
duplicates               0
Name: 11030, dtype: object
['2012-02762', '2016-01899']
name                Marene
surname          Landström
app_ids       [2012-02781]
duplicates               0
Name: 4056, dtype: object
name                Maréne
surname          Landström
app_ids       [2016-02513]
duplicates               0
Name: 11200, dtype: object
['2012-02781', '2016-02513']
name                                          Lena
surname                                   von Koch
app_ids       [2012-02876, 2013-02662, 2014-02778]
duplicates                                       2
Name: 4133, dtype: object
name                              Lena
surname                       Von Koch
app_ids       [2015-02930, 2016-01850]
duplicates                           1
Name: 10232, dtype: object
['2012-02876', '2013-02662', '2014-02778', '2015-02930']
['2012-02876', '2013-02662', '2014-02778', '2015-02930', '2016-01850']
name                                          Lars
surname                                     Norlén
app_ids       [2012-02899, 2014-04477, 2012-05646]
duplicates                                       2
Name: 4156, dtype: object
name                  Lars
surname             Norlen
app_ids       [2015-02877]
duplicates               0
Name: 10211, dtype: object
['2012-02899', '2014-04477', '2012-05646', '2015-02877']
name                                         Inger
surname                                  Hallström
app_ids       [2012-03020, 2013-02633, 2013-06581]
duplicates                                       2
Name: 4250, dtype: object
name                             Inger
surname          Kristensson Hallström
app_ids       [2015-03326, 2016-01294]
duplicates                           1
Name: 10296, dtype: object
['2012-03020', '2013-02633', '2013-06581', '2015-03326']
['2012-03020', '2013-02633', '2013-06581', '2015-03326', '2016-01294']
name                          Pernilla
surname                   Åsenlöf Fors
app_ids       [2012-03026, 2013-02538]
duplicates                           1
Name: 4254, dtype: object
name                          Pernilla
surname                        Åsenlöf
app_ids       [2015-02979, 2016-01582]
duplicates                           1
Name: 10251, dtype: object
['2012-03026', '2013-02538', '2015-02979']
['2012-03026', '2013-02538', '2015-02979', '2016-01582']
name                               Pan
surname                        Jinshan
app_ids       [2012-03198, 2013-05508]
duplicates                           1
Name: 4365, dtype: object
name               Jinshan
surname                Pan
app_ids       [2015-04490]
duplicates               0
Name: 10521, dtype: object
['2012-03198', '2013-05508', '2015-04490']
name                          Birgitta
surname               Janeroth Sjöberg
app_ids       [2012-03524, 2013-03617]
duplicates                           1
Name: 4559, dtype: object
name              Birgitta
surname            Sjöberg
app_ids       [2016-02684]
duplicates               0
Name: 11963, dtype: object
['2012-03524', '2013-03617', '2016-02684']
name                                       Sitaram
surname                                     Velaga
app_ids       [2012-04893, 2013-05380, 2014-06001]
duplicates                                       2
Name: 5223, dtype: object
name                           sitaram
surname                         Velaga
app_ids       [2015-02598, 2016-05426]
duplicates                           1
Name: 10114, dtype: object
['2012-04893', '2013-05380', '2014-06001', '2015-02598']
['2012-04893', '2013-05380', '2014-06001', '2015-02598', '2016-05426']
name                                        Mikael
surname                               Nolin Sjödin
app_ids       [2012-04927, 2013-05140, 2014-04933]
duplicates                                       2
Name: 5241, dtype: object
name                            Mikael
surname                         Sjödin
app_ids       [2015-05300, 2016-04346]
duplicates                           1
Name: 10698, dtype: object
['2012-04927', '2013-05140', '2014-04933', '2015-05300']
['2012-04927', '2013-05140', '2014-04933', '2015-05300', '2016-04346']
name                 Peder
surname             Thalén
app_ids       [2012-05022]
duplicates               0
Name: 5286, dtype: object
name                 Peder
surname             Thalen
app_ids       [2015-01905]
duplicates               0
Name: 9883, dtype: object
['2012-05022', '2015-01905']
name                            Helena
surname                      Wahlström
app_ids       [2012-00557, 2014-01265]
duplicates                           1
Name: 5476, dtype: object
name                            Helena
surname           Wahlström Henriksson
app_ids       [2015-01721, 2016-01969]
duplicates                           1
Name: 9796, dtype: object
['2012-00557', '2014-01265', '2015-01721']
['2012-00557', '2014-01265', '2015-01721', '2016-01969']
name                 Klara
surname           Bolander
app_ids       [2012-05592]
duplicates               0
Name: 5479, dtype: object
name                    Klara
surname       Bolander Laksov
app_ids          [2016-04282]
duplicates                  0
Name: 11576, dtype: object
['2012-05592', '2016-04282']
name                        Anne L. C.
surname                        Runehov
app_ids       [2012-00605, 2014-00783]
duplicates                           1
Name: 5561, dtype: object
name                  Anne
surname            Runehov
app_ids       [2016-02744]
duplicates               0
Name: 11255, dtype: object
['2012-00605', '2014-00783', '2016-02744']
name                                       Izabela
surname                                       Dahl
app_ids       [2012-00616, 2013-00726, 2014-00664]
duplicates                                       2
Name: 5571, dtype: object
name                        Izabela A.
surname                           Dahl
app_ids       [2015-01639, 2016-01834]
duplicates                           1
Name: 9759, dtype: object
['2012-00616', '2013-00726', '2014-00664', '2015-01639']
['2012-00616', '2013-00726', '2014-00664', '2015-01639', '2016-01834']
name                                                  Ouattara
surname                                                   Syna
app_ids       [2012-00670, 2013-01679, 2013-06427, 2014-04679]
duplicates                                                   3
Name: 5614, dtype: object
name                  Syna
surname           Ouattara
app_ids       [2016-05625]
duplicates               0
Name: 11799, dtype: object
['2012-00670', '2013-01679', '2013-06427', '2014-04679', '2016-05625']
name                               Åsa
surname                  Kroon Lundell
app_ids       [2012-00937, 2013-01571]
duplicates                           1
Name: 5838, dtype: object
name                   Åsa
surname              Kroon
app_ids       [2016-02389]
duplicates               0
Name: 11166, dtype: object
['2012-00937', '2013-01571', '2016-02389']
name                Martin
surname             Holmén
app_ids       [2013-01078]
duplicates               0
Name: 5938, dtype: object
name                Martin
surname             Holmen
app_ids       [2015-01713]
duplicates               0
Name: 9790, dtype: object
['2013-01078', '2015-01713']
name                       Patrik
surname       Gustafsson Tingvall
app_ids              [2013-01138]
duplicates                      0
Name: 5975, dtype: object
name                Patrik
surname           Tingvall
app_ids       [2014-01476]
duplicates               0
Name: 8119, dtype: object
['2013-01138', '2014-01476']
name                  Laura
surname       Álvarez López
app_ids        [2013-01291]
duplicates                0
Name: 6042, dtype: object
name                  Laura
surname       Alvarez Lopez
app_ids        [2016-02438]
duplicates                0
Name: 11178, dtype: object
['2013-01291', '2016-02438']
name            Ted Martin
surname         Hedesström
app_ids       [2013-01315]
duplicates               0
Name: 6061, dtype: object
name                Martin
surname         Hedesström
app_ids       [2015-01016]
duplicates               0
Name: 9472, dtype: object
['2013-01315', '2015-01016']
name                            Xavier
surname                       Groussot
app_ids       [2013-01355, 2014-01071]
duplicates                           1
Name: 6083, dtype: object
name                xavier
surname           groussot
app_ids       [2016-02357]
duplicates               0
Name: 11163, dtype: object
['2013-01355', '2014-01071', '2016-02357']
name                          Ingalill
surname                Nyström Larsson
app_ids       [2013-01539, 2014-00898]
duplicates                           1
Name: 6192, dtype: object
name              Ingalill
surname            Nyström
app_ids       [2016-02707]
duplicates               0
Name: 11964, dtype: object
['2013-01539', '2014-00898', '2016-02707']
name             Fereshteh
surname       Ahmadi Lewin
app_ids       [2013-01833]
duplicates               0
Name: 6348, dtype: object
name                         Fereshteh
surname                         Ahmadi
app_ids       [2015-01227, 2016-02377]
duplicates                           1
Name: 9565, dtype: object
['2013-01833', '2015-01227']
['2013-01833', '2015-01227', '2016-02377']
name                             María
surname                      Borgström
app_ids       [2013-02146, 2014-02202]
duplicates                           1
Name: 6447, dtype: object
name                 Maria
surname          Borgström
app_ids       [2015-00920]
duplicates               0
Name: 9427, dtype: object
['2013-02146', '2014-02202', '2015-00920']
name                                                      Mona
surname                                              Holmqvist
app_ids       [2013-02359, 2014-02123, 2016-03900, 2014-01913]
duplicates                                                   3
Name: 6513, dtype: object
name                       Mona
surname       Holmqvist Olander
app_ids            [2015-01182]
duplicates                    0
Name: 9541, dtype: object
['2013-02359', '2014-02123', '2016-03900', '2014-01913', '2015-01182']
name                             Maria
surname           Eriksdotter Jönhagen
app_ids       [2013-02843, 2014-03685]
duplicates                           1
Name: 6659, dtype: object
name                             Maria
surname                    Eriksdotter
app_ids       [2015-02579, 2016-02317]
duplicates                           1
Name: 10105, dtype: object
['2013-02843', '2014-03685', '2015-02579']
['2013-02843', '2014-03685', '2015-02579', '2016-02317']
name                                          Anna
surname                                Nordenström
app_ids       [2013-03046, 2014-03068, 2012-03237]
duplicates                                       2
Name: 6733, dtype: object
name                              Anna
surname               Jung Nordenström
app_ids       [2015-02627, 2016-02896]
duplicates                           1
Name: 10125, dtype: object
['2013-03046', '2014-03068', '2012-03237', '2015-02627']
['2013-03046', '2014-03068', '2012-03237', '2015-02627', '2016-02896']
name                               Ola
surname                       Winqvist
app_ids       [2013-03058, 2012-01890]
duplicates                           1
Name: 6739, dtype: object
name                   ola

In [132]:
print(duplicate_authors.iloc[25])
print(duplicate_authors_clean.iloc[25])

print(duplicate_authors.iloc[13446])
print(duplicate_authors_clean.iloc[13446])
print(duplicate_authors_clean.iloc[13672])

indicies_to_drop = []
print("INDICES")
for l in [x['dup'] for x in merge_orders]:
    for i in l:
        indicies_to_drop.append(i)

# Now we drop the duplicate rows that have been integrated
print(len(duplicate_authors_clean))
duplicate_authors_clean = duplicate_authors_clean.drop(indicies_to_drop)
print(len(duplicate_authors_clean))

name                  Kotryna
surname       Simonyté Sjödin
app_ids          [2016-01238]
duplicates                  0
Name: 25, dtype: object
name                           Kotryna
surname                Simonyté Sjödin
app_ids       [2016-01238, 2012-06616]
duplicates                           0
Name: 25, dtype: object
name                Carlos
surname            Vázquez
app_ids       [2014-05941]
duplicates               0
Name: 13446, dtype: object
name                            Carlos
surname                        Vázquez
app_ids       [2014-05941, 2015-05381]
duplicates                           0
Name: 13446, dtype: object
name                Carlos
surname            Vazquez
app_ids       [2015-05381]
duplicates               0
Name: 13672, dtype: object
INDICES
13699
13546

In [133]:
# And finally before we export, we update the duplicates variable
# HOWEVER NOW THE DUPLICATES VARIABLE IS OCCURANCES

#duplicate_authors_clean['duplicates']  = duplicate_authors_clean['app_ids'].len()
duplicate_authors_clean['duplicates'] = duplicate_authors_clean['app_ids'].apply(lambda x: len(x))
duplicate_authors_clean.rename(columns = {'duplicates':'occurances'}, inplace = True)

In [134]:
# Now we do the final export

writer = pd.ExcelWriter('duplicates_reduced.xlsx', engine='xlsxwriter')
duplicate_authors_clean.to_excel(writer, sheet_name="Researchers", index=False)
writer.save()


writer = pd.ExcelWriter('merged_discrepancies.xlsx', engine='xlsxwriter')
df_merging.to_excel(writer, sheet_name="duplicates", index=False)
writer.save()

In [135]:

# def clean_str(str):
#     return re.sub(r"[-]", " ", str)
#
# def do_str_comp(row, s2):
#     print(row)
#     print("THIS WAS THE SHIT")
#     return False
#
#     s1 = clean_str(s1)
#     s2 = clean_str(s2)
#     x = SC.StringComp(s1, s2, 1, 1)
#     #print(x.print_analysis())
#     if x.max_percent_words_matched > 80:
#         return True
#     else:
#         return False
#
# #do_str_comp("Martin Bjorkman", "Martin Bjan-Nykvist")

In [136]:
# def filter_df(df):
#     return df.index.str.startswith('A')

In [137]:
# limit = 2
#
# if limit == None:
#     limit = len(df)
#
#
# checked_app_ids = []

# for t in df.itertuples():
#     if t[0] >= limit:
#         break
#     if t.app_id in checked_app_ids:
#         continue
#
#     #subset = df.loc[lambda row: row['name'].str.startswith("A")]
#
#     subset = df.apply(do_str_comp,  args=(t.name, ), axis=1)
#
#
#     app_ids = list(subset['app_id'])
#     checked_app_ids = checked_app_ids + app_ids
#     app_ids_json = json.dumps(app_ids)
#     duplicates = len(app_ids) - 1
#
#     if duplicates > 0:
#        temporary_df = pd.DataFrame([[t.name, t.surname, app_ids, duplicates]],
#                                    columns=['name', 'surname', 'app_ids', 'duplicates'])
#        duplicate_authors = duplicate_authors.append(temporary_df, ignore_index=True)
#
# print(duplicate_authors)

In [138]:
# writer = pd.ExcelWriter('duplicates_full.xlsx', engine='xlsxwriter')
# duplicate_authors.to_excel(writer, sheet_name="duplicates", index=False)
#
# writer.save()