In [2]:
import numpy as np
import pandas as pd
import math

In [3]:
# import original_sheet
VR = pd.read_excel("VR-ansökningar 2012-2016.xlsx", sheet_name=1)
# drop all unnamed columns in VR
VR =  VR.loc[:, ~VR.columns.str.contains('^Unnamed')]

# import the RA Sheet
RA = pd.read_excel("RA_Sheet.xlsx")

In [4]:
VR.head()

,Dnr,Ärendeår,Efternamn,Förnamn,Kön,Medelsförvaltare,Beslut,Klustrad bidragsform,Bidragsform,Inriktning,...,Stödform (fr om 2016),Beslutsorgan (ÄRK),Ämnesområde,HuvudBG,Alla SCBkoder,TotalBevBelopp,Antal Beviljade År,ProjekttitelSv,ProjekttitelEn,Nyckelord
0,2016-00981,2016,Calderón-Larrañaga,Amaia,Kvinna,Karolinska Institutet,Beviljad,Etablering - Unga forskare,Etableringsbidrag,Fri,...,Karriärstöd,Ämnesrådet för medicin och hälsa,MH,MH-G2,"30302, 30222 ,",6000000.0,4,Fenotyper av hälsosamt åldrande: betydelsen av...,Phenotypes of healthier aging: the role of env...,"Aging phenotypes, Multimorbidity, Frailty, Di..."
1,2016-00992,2016,Swanberg,Maria,Kvinna,Lunds universitet,Avslag,Etablering - Unga forskare,Etableringsbidrag,Fri,...,Karriärstöd,Ämnesrådet för medicin och hälsa,MH,MH-D1,"30105, 30107, 30207",NaN,0,Identifiering av genetiska riskfaktorer för Pa...,Identification of genetic risk factors for Par...,"Parkinson´s sjukdom, Komplex genetik, Neurodeg..."
2,2016-01005,2016,Horejs,Christine-Maria,Kvinna,Karolinska Institutet,Avslag,Etablering - Unga forskare,Etableringsbidrag,Fri,...,Karriärstöd,Ämnesrådet för medicin och hälsa,MH,MH-F1,30108,NaN,0,Det kryptiska basalmembranet: ett outforskat o...,The cryptic basement membrane: An unexplored c...,"tissue fibrosis, basement membrane, cell migra..."
3,2016-01008,2016,Latvala,Antti,Man,Karolinska Institutet,Avslag,Etablering - Unga forskare,Etableringsbidrag,Fri,...,Karriärstöd,Ämnesrådet för medicin och hälsa,MH,MH-G1,"30302, 30215 ,",NaN,0,Sambandet mellan ångeststörningar och missbruk...,Comorbidity of anxiety and substance use disor...,"anxiety disorders, substance use disorders, co..."
4,2016-01016,2016,Perisic,Ljubica,Kvinna,Karolinska Institutet,Avslag,Etablering - Unga forskare,Etableringsbidrag,Fri,...,Karriärstöd,Ämnesrådet för medicin och hälsa,MH,MH-E2,"30108, 30107, 30199",NaN,0,Rollen av glatta muskelceller i instabil atero...,The role of smooth muscle cells in unstable at...,"atherosclerosis, vascular smooth muscle cells,..."

In [5]:
RA.head()

,ID,name,surname,app_ids,count,personnummer_cv,year,years_unsure,birth_year,in_sweden,institution
0,1,Amaia,Calderón-Larrañaga,['2016-00981'],1,19830529-3386,NaN,NaN,NaN,0,NaN
1,2,Maria,Swanberg,"['2016-00992', '2013-03310', '2012-02563', '20...",6,19770510-0241,2007,NaN,1977.0,1,Karolinska Institutet
2,3,Christine-Maria,Horejs,['2016-01005'],1,NaN,NaN,NaN,NaN,0,NaN
3,4,Antti,Latvala,['2016-01008'],1,NaN,2011,NaN,NaN,0,NaN
4,5,Ljubica,Perisic,['2016-01016'],1,NaN,2012,NaN,1979.0,1,Karolinska Institutet

## Join the Name ID into the VR Data Set

In [6]:
# join the RA id to the VR df
for x in RA[['ID', 'app_ids']].values:
    id = x[0]
    # remove quotes, brackets and spaces, then split to a list (cannot use json because single quotes)
    # also translate is much faster at replacing than replace or regex
    app_ids = (x[1].translate({ord(i):None for i in "[] '"})).split(",")
    # now we shall add the researcher_id to the VR dataset
    for a in app_ids:
        #print(VR[VR['Dnr'] == a]) #['RID'] = id
        VR.loc[VR['Dnr'] == a,'NID'] = id

In [7]:
VR.loc[VR["NID"] == 2,]
#VR_backup = VR

,Dnr,Ärendeår,Efternamn,Förnamn,Kön,Medelsförvaltare,Beslut,Klustrad bidragsform,Bidragsform,Inriktning,...,Beslutsorgan (ÄRK),Ämnesområde,HuvudBG,Alla SCBkoder,TotalBevBelopp,Antal Beviljade År,ProjekttitelSv,ProjekttitelEn,Nyckelord,NID
1,2016-00992,2016,Swanberg,Maria,Kvinna,Lunds universitet,Avslag,Etablering - Unga forskare,Etableringsbidrag,Fri,...,Ämnesrådet för medicin och hälsa,MH,MH-D1,"30105, 30107, 30207",NaN,0,Identifiering av genetiska riskfaktorer för Pa...,Identification of genetic risk factors for Par...,"Parkinson´s sjukdom, Komplex genetik, Neurodeg...",2.0
3090,2013-03310,2013,Swanberg,Maria,Kvinna,Lunds universitet,Avslag,Projektbidrag,Projektbidrag,Alternativa metoder till djurförsök enligt 3R-...,...,Ämnesrådet för medicin och hälsa,MH,MH-3R,"30105, 30107, 30108",0.0,0,Nya cellbaserade genetiska modeller för neurod...,Nya cellbaserade genetiska modeller för neurod...,Idiopathic Parkinson´s Disease; Genetic Variat...,2.0
23396,2012-02563,2012,Swanberg,Maria,Kvinna,Lunds universitet,Avslag,Etablering - Unga forskare,Projektbidrag Unga forskare,Fri,...,Ämnesrådet för medicin och hälsa,MH,"MH-Ung, MH-Ung1","30105, 30107 ,",0.0,0,Den komplexa genetiken bakom nervcellsdöd och ...,The Complex Genetics of Neurodegeneration and ...,Parkinson disease; Neurodegenerative diseases;...,2.0
24350,2013-03354,2013,Swanberg,Maria,Kvinna,Lunds universitet,Avslag,Etablering - Unga forskare,Projektbidrag Unga forskare,Fri,...,Ämnesrådet för medicin och hälsa,MH,MH-D1,"30105, 30107 ,",0.0,0,IDENTIFIERING AV GENETISKA RISKFAKTORER BAKOM ...,IDENTIFYING COMPLEX GENETIC RISK FACTORS BEHIN...,Parkinson´s disease; Neurodegenerative disease...,2.0
25617,2014-03636,2014,Swanberg,Maria,Kvinna,Lunds universitet,Avslag,Etablering - Unga forskare,Projektbidrag Unga forskare,Fri,...,Ämnesrådet för medicin och hälsa,MH,MH-D1,"30105, 30107, 30110",NaN,0,Identifiering av nya genetiska riskfaktorer fö...,Identification of novel genetic risk factors f...,Parkinson´s disease; Genetic research; Neurode...,2.0
26484,2015-03376,2015,Swanberg,Maria,Kvinna,Lunds universitet,Avslag,Etablering - Unga forskare,Projektbidrag Unga forskare,Fri,...,Ämnesrådet för medicin och hälsa,MH,MH-D1,"30105, 30107, 30207",0.0,0,Identifiering av genetiska riskfaktorer bakom ...,Translational identification of novel genetic ...,"Komplex genetik, Neurodegeneration, Neuroinfla...",2.0

In [8]:
for NID in RA.loc[:,'ID'][1315:1316]:
    researchers = VR.loc[VR["NID"] == NID,]

    # convert the scb codes from strings to lists, using str method
    ## extract the column
    scb_strings = researchers['Alla SCBkoder']
    ## remove spaces by .str, followed by method
    scb_strings = scb_strings.str.translate({ord(i):None for i in " "})
    ## remove trailing commas
    def remove_trailing_comma(string):
        try:
            if math.isnan(string):
                return ""
        except:
            if string[-1] == ",":
                return string[:-1]
            else:
                return string


    scb_strings = scb_strings.apply(remove_trailing_comma)
    ## split the string into a list, delim comma
    scb_strings = scb_strings.str.split(",")

    print(scb_strings)

1570     [10606, 10609, 10615]
1699            [30109, 30108]
1877     [10606, 10609, 10615]
2122                        []
3600            [20304, 20599]
5450     [10403, 10402, 21001]
9977     [21001, 20502, 10403]
11449           [50203, 50201]
14516    [20602, 20502, 21001]
19840                       []
20493    [10499, 10403, 10601]
22026           [50202, 50201]
23632    [20304, 20306, 20599]
24446    [20304, 20306, 20599]
25790    [20499, 10404, 20304]
25860    [10602, 10611, 10615]
Name: Alla SCBkoder, dtype: object

## Group matching SCB Codes

The grouping Algorithm:
- Make group of the most common SCB code.
- iterate to the next most common group and see if researchers are subset of first group, if they are a subset, join first group, otherwise, make a new group.
- iterate until all applications have been grouped.

In [10]:
for NID in RA.loc[RA['ID'] == 1316,'ID']:# Martin Andersson

#for NID in RA.loc[:,'ID']:
    researchers = VR.loc[VR["NID"] == NID,]

    # convert the scb codes from strings to lists, using str method
    ## extract the column
    scb_strings = researchers['Alla SCBkoder'].astype(str)
    ## remove spaces by .str, followed by method
    #print(scb_strings)
    scb_strings = scb_strings.str.translate({ord(i):None for i in " "})
    ## remove trailing commas
    def remove_trailing_comma(string):
        if pd.isnull(string):
            return ""
        elif string in ["", None]:
            return ""
        else:
            try:
                if string[-1] == ",":
                    return string[:-1]
                else:
                    return string
            except:
                print(string)
                raise ValueError("BINGO")

    scb_strings = scb_strings.apply(remove_trailing_comma)
    ## split the string into a list, delim comma
    scb_strings = scb_strings.str.split(",")

    all_codes_present = list(set([val for sublist in scb_strings.values for val in sublist]))
    #print(f"\nALL SCB CODES: {all_codes_present}\n")

    # Make the scb_df
    scb_df = pd.DataFrame({"list": scb_strings})

    # write function that makes dummy
    def make_dummy(list, code):
        if code in list:
            return 1
        else:
            return 0

    # Now make dummies for each present code
    for code in all_codes_present:
        scb_df[code] = scb_df['list'].apply(make_dummy, args=([code]))
    #print(scb_df)

    # Aggregate count of codes
    agg_df = pd.DataFrame([{'code': code, 'count': scb_df[code].sum()} for code in all_codes_present ]).sort_values('count', ascending=False)
    #print(agg_df)

    # grouping Algorithm
    group_id = 1
    completed_codes = []
    for code, count in agg_df.values:
        # if the no groups have been assigned yet, automatically set the first group
        if group_id == 1:
            scb_df.loc[scb_df[code] == 1, 'group'] = group_id
            group_id += 1
        else:
            # check if researchers with code are subsets of other groups
            # also hide disregard researchers with no scb codes for now, they will be appended last
            iter_group = scb_df.loc[((scb_df[code] == 1) & (scb_df['list'].str.len().gt(1))),:]
            #iter_group = scb_df.loc[(scb_df[code] == 1),:]
            complement = iter_group
            for cc in completed_codes:
                complement = complement.loc[complement[cc] == 0]
            # if all of the researchers in the itergroup have already been grouped, skip
            if complement.empty:
                continue
            else:
                # Here we are left with researcher under the current code, that have not been grouped yet.
                # if soft grouping, add the researcher to existing group that has the current code as a secondary code.
                # but only if just one of the existing groups has the current code. If the current code is in two groups, then
                # we cannot be sure and add it as a separate group..
                soft_grouping = True
                if soft_grouping:
                    # Which groups have the current code?
                    x = scb_df.loc[((~scb_df['group'].isnull()) & (scb_df[code] == 1)), :]
                    if not x.empty:
                        # here we determine how many groups feature the code
                        groups_with_code = list(set(x['group'].values))
                        if len(groups_with_code) == 1:
                            # if just one group has the code, add the complement researchers to the group
                            scb_df.loc[complement.index, "group"] = groups_with_code[0]
                            continue
                        else:
                            scb_df.loc[complement.index, "group"] = group_id
                    else:
                        scb_df.loc[complement.index, "group"] = group_id
                else:
                    scb_df.loc[complement.index, "group"] = group_id

                group_id += 1

        completed_codes.append(code)

    # add the researchers without SCB codes as the last observations
    for i in scb_df.loc[scb_df['group'].isnull(),:].index:
        scb_df.loc[i, 'group'] = group_id
        group_id += 1

    # look at the output
    #print(scb_df[['list', 'group']].sort_values('group'))

    # now add the NIDs and groups to the VR df
    conf_df = scb_df[['list', 'group']].sort_values('group')
    VR.loc[conf_df.index, 'NID'] = NID
    VR.loc[conf_df.index, 'group'] = conf_df['group']

In [16]:
# Rearrange Columns of VR_groups
cols = ['NID', 'group'] + list(VR.columns)[:-2]
VR_groups = VR.loc[:, cols]
VR_groups[VR_groups['NID'] == 1316].sort_values('group', ascending=True)

# export 1316
# x = VR_groups[VR_groups['NID'] == 1316].sort_values('group', ascending=True)
# writer = pd.ExcelWriter('1316.xlsx', engine='xlsxwriter')
# x.to_excel(writer, sheet_name="Groups", index=False)
#writer.save()

,NID,group,Dnr,Ärendeår,Efternamn,Förnamn,Kön,Medelsförvaltare,Beslut,Klustrad bidragsform,...,Stödform (fr om 2016),Beslutsorgan (ÄRK),Ämnesområde,HuvudBG,Alla SCBkoder,TotalBevBelopp,Antal Beviljade År,ProjekttitelSv,ProjekttitelEn,Nyckelord
3600,1316.0,1.0,2015-05691,2015,Andersson,Martin,Man,Lunds universitet,Avslag,Projektbidrag,...,Projektstöd,Ämnesrådet för naturvetenskap och teknikvetenskap,NT,NT-EN-18,"20304, 20599 ,",0.0,Energi,Polymerelektrolytmembranbränslecellens Vattenh...,Polymer Electrolyte Membrane Fuel Cell Water M...,"Polymer Electrolyte Mebrane Fuel Cell, Water D..."
23632,1316.0,1.0,2012-03783,2012,Andersson,Martin,Man,Lunds universitet,Avslag,Etablering - Unga forskare,...,Projektstöd,Ämnesrådet för naturvetenskap och teknikvetenskap,NT,NT-D4,"20304, 20306, 20599",0.0,0,Flerskalig modellering innefattande transportf...,Multiphysics and Multiscale Modeling of Transp...,SOFC; modeling; electrochemical reactions; mul...
24446,1316.0,1.0,2013-03715,2013,Andersson,Martin,Man,Lunds universitet,Avslag,Etablering - Unga forskare,...,Projektstöd,Ämnesrådet för naturvetenskap och teknikvetenskap,NT,NT-16,"20304, 20306, 20599",0.0,0,"Flerskalig modeling av transportfenomen, kemis...",Multiphysics and Multiscale Modeling of Transp...,SOFC; modeling; electrochemical reactions; mul...
25790,1316.0,1.0,2014-04524,2014,Andersson,Martin,Man,Lunds universitet,Avslag,Etablering - Unga forskare,...,Projektstöd,Ämnesrådet för naturvetenskap och teknikvetenskap,NT,NT-17,"20499, 10404, 20304",NaN,0,Förbättring av Fastoxidbränslecellens Prestand...,Improvement of the Solid Oxide Fuel Cell Perfo...,SOFC; multiscale modeling; multiphysics modeli...
1570,1316.0,2.0,2013-07512,2013,Andersson,Martin,Man,Lunds universitet,Avslag,Postdok,...,Karriärstöd,Vetenskapsrådet,MH,VR-mhPDh,"10606, 10609, 10615",0.0,0,Infektionssjukdomars genetiska diversitet - Hu...,The genetic diversity of infectious diseases -...,Borrelia; ticks; reservoir host; genetic diver...
1877,1316.0,2.0,2014-06714,2014,Andersson,Martin,Man,Lunds universitet,Avslag,Postdok,...,Karriärstöd,Vetenskapsrådet,NT,VR-ntPDh,"10606, 10609, 10615",NaN,0,Vilken roll spelar samarbete mellan Borreliast...,The role of co-operating Borrelia strains in s...,Borrelia; multiple infection; ticks; zoonotic;...
25860,1316.0,2.0,2014-04778,2014,Andersson,Martin,Man,Lunds universitet,Avslag,Etablering - Unga forskare,...,Projektstöd,Ämnesrådet för naturvetenskap och teknikvetenskap,NT,NT-11,"10602, 10611, 10615",NaN,0,EN SKOG AV LUKTER: LIKA ELLER OLIKA NÄSOR? -En...,A FOREST OF SMELLS: THE SAME OR DIFFERENT NOSE...,Odorant receptor; Insect olfaction; Heterologo...
5450,1316.0,3.0,2012-03181,2012,Andersson,Martin,Man,Chalmers tekniska högskola,Avslag,Projektbidrag,...,Projektstöd,Ämnesrådet för naturvetenskap och teknikvetenskap,NT,NT-Q,"10403, 10402, 21001",0.0,0,Benliknande kompositer,Bone-like composites,0
9977,1316.0,3.0,2013-05386,2013,Andersson,Martin,Man,Chalmers tekniska högskola,Avslag,Projektbidrag,...,Projektstöd,Ämnesrådet för naturvetenskap och teknikvetenskap,NT,NT-18,"21001, 20502, 10403",0.0,0,Meso-ordnade benkompositer,Meso-ordered bone composites,Bone; Nano; Apatite; Composite; Meso-ordered
14516,1316.0,3.0,2014-06217,2014,Andersson,Martin,Man,Chalmers tekniska högskola,Avslag,Projektbidrag,...,Projektstöd,Ämnesrådet för naturvetenskap och teknikvetenskap,NT,NT-19,"20602, 20502, 21001",NaN,0,Stamcellsrekryterande Proteinbaserade Kompositer,Stem Cell Recruiting Engineered Protein-based ...,Biomaterials; Tissue regeneration; Drug-delivery
20493,1316.0,3.0,2016-03655,2016,Andersson,Martin,Man,Chalmers tekniska högskola,Beviljad,Projektbidrag,...,Projektstöd,Ämnesrådet för naturvetenskap och teknikvetenskap,NT,NT-18,"10499, 10403, 10601",4100000.0,4,Proteinstruktur med atomsond,Atom Probe Tomography Proteomics,"Protein structure, Atom Probe Tomography, Sili..."
11449,1316.0,4.0,2014-01392,2014,Andersson,Martin,Man,Lunds universitet,Avslag,Projektbidrag,...,Projektstöd,Ämnesrådet för humaniora och samhällsvetenskap,HS,HS-B,"50203, 50201 ,",NaN,0,Utvecklingsländer på frammarsch - mönster av u...,Why nations catch up: Explaining patterns of l...,catching up; convergence; social capability; d...
22026,1316.0,4.0,2016-02746,2016,Andersson,Martin,Man,Blekinge Tekniska Högskola,Avslag,Projektbidrag,...,Projektstöd,Ämnesrådet för humaniora och samhällsvetenskap,HS,HS-TILL,"50202, 50201 ,",NaN,0,Näringslivets forskning och tillväxt: Betydels...,Business R&D and growth: The role of universit...,"FoU i stora och små företag, Tillväxt och inno..."
1699,1316.0,5.0,2014-00342,2014,Andersson,Martin,Man,Lunds universitet,Avslag,Postdok,...,Karriärstöd,Vetenskapsrådet,MH,VR-mhPDv,"30109, 30108 ,",NaN,0,Infektionsframgång hos den fästingöverförda pa...,Transmission efficiency the tick transmitted L...,Borrelia; ticks; zoonoses; vector-borne disease
2122,1316.0,6.0,2015-00211,2015,Andersson,Martin,Man,Lunds universitet,Avslag,Postdok,...,Karriärstöd,Vetenskapsrådet,MH,IPD-MH1,30401,0.0,0,Nya fästingburna sjukdomar - förbisedda hot mo...,Novel tick-borne diseases - overlooked threat...,"Neoehrlichia, fästingburna sjukdomar, genomsek..."
19840,1316.0,7.0,2016-02723,2016,Andersson,Martin,Man,Lunds universitet,Avslag,Projektbidrag,...,Projektstöd,Ämnesrådet för humaniora och samhällsvetenskap,HS,HS-B,50203,NaN,0,Inkluderande tillväxt? Landsbygdshushållens in...,Inclusive catching up? Understanding household...,"Ekonomisk tillväxt, Inkomstfördelning, Struktu..."

In [191]:
# How many of the NID have more than 1 group?
NID_more_one_group = VR_groups.loc[VR_groups['group'] == 2, "NID"]  #1623  (good compared to 3500+)

26          27.0
27          28.0
44          45.0
66          67.0
68          69.0
          ...
27148    12966.0
27153      395.0
27192    11505.0
27193      726.0
27204     2903.0
Name: NID, Length: 1623, dtype: float64

Now aggregate again

| NID | group | name | surname | app_ids | count | personnummer | year | birth_year | in_sweden | institution

In [267]:
summary = VR_groups.groupby(['NID', 'group'])['Dnr'].count().to_frame(name = 'count').reset_index()
#out_df

# store the total number of groups per NID in the df group_count
group_count = summary.groupby(['NID'])['group'].count().to_frame(name = 'count').reset_index()
group_count

def get_numer_groups(nid):
    return group_count.loc[group_count['NID'] == nid, "count"].values[0]

insert_list = []
# now we get all of the app_ids
for NID, group, count in summary.values:
    sub_df = VR_groups.loc[((VR_groups['NID'] == NID) & (VR_groups['group'] == group)),:]
    name = sub_df['Förnamn'].values[0]
    surname = sub_df['Efternamn'].values[0]
    a_ids = sub_df['Dnr'].values
    insert = {"NID": NID, "group": group, "total groups": get_numer_groups(NID), "Completed": "", "Not Found": "",  "name": name, "surname": surname, "app_ids": a_ids, "count": count}
    insert_list.append(insert)

out_df = pd.DataFrame(insert_list)

In [268]:
out_df

,NID,group,total groups,Completed,Not Found,name,surname,app_ids,count
0,1.0,1.0,1,,,Amaia,Calderón-Larrañaga,[2016-00981],1.0
1,2.0,1.0,1,,,Maria,Swanberg,"[2016-00992, 2013-03310, 2012-02563, 2013-0335...",6.0
2,3.0,1.0,1,,,Christine-Maria,Horejs,[2016-01005],1.0
3,4.0,1.0,1,,,Antti,Latvala,[2016-01008],1.0
4,5.0,1.0,1,,,Ljubica,Perisic,[2016-01016],1.0
...,...,...,...,...,...,...,...,...,...
15356,13542.0,1.0,1,,,Alena,Stsiapanava,[2015-05578],1.0
15357,13543.0,1.0,1,,,Holger,Kohr,[2015-05595],1.0
15358,13544.0,1.0,1,,,Dipak,Surie,[2015-05602],1.0
15359,13545.0,1.0,1,,,Charlotta,Wallinder,[2015-05605],1.0
15360,13546.0,1.0,1,,,Khadga,Karki,[2015-05618],1.0

Final Step:
- Merge the personnummer, year, birth_year, in_sweden and institution data to the first group of each NID
- If there is just one group in the NID and we have all data, mark as completed.

In [270]:
#merged_df = out_df.iloc[0:100,:].copy()
merged_df = out_df.copy()
for i in list(set(merged_df['NID'].values)):
    merged_df.loc[((merged_df['NID'] == i) & (merged_df['group'] == 1)), ['personnummer_cv', 'year', 'birth_year', 'in_sweden', 'institution']] = RA.loc[RA['ID'] == i, ['personnummer_cv', 'year', 'birth_year', 'in_sweden', 'institution']].values

# mark complete if one group and year and birth year in place
merged_df.loc[((~merged_df['year'].isnull())&(~merged_df['birth_year'].isnull())&(~merged_df['institution'].isnull())&(merged_df['total groups'] == 1)),'Completed'] = "x"

merged_df

,NID,group,total groups,Completed,Not Found,name,surname,app_ids,count,personnummer_cv,year,birth_year,in_sweden,institution
0,1.0,1.0,1,,,Amaia,Calderón-Larrañaga,[2016-00981],1.0,19830529-3386,NaN,NaN,0.0,NaN
1,2.0,1.0,1,x,,Maria,Swanberg,"[2016-00992, 2013-03310, 2012-02563, 2013-0335...",6.0,19770510-0241,2007.0,1977.0,1.0,Karolinska Institutet
2,3.0,1.0,1,,,Christine-Maria,Horejs,[2016-01005],1.0,NaN,NaN,NaN,0.0,NaN
3,4.0,1.0,1,,,Antti,Latvala,[2016-01008],1.0,NaN,2011.0,NaN,0.0,NaN
4,5.0,1.0,1,x,,Ljubica,Perisic,[2016-01016],1.0,NaN,2012.0,1979.0,1.0,Karolinska Institutet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15356,13542.0,1.0,1,,,Alena,Stsiapanava,[2015-05578],1.0,NaN,NaN,NaN,0.0,NaN
15357,13543.0,1.0,1,,,Holger,Kohr,[2015-05595],1.0,NaN,NaN,NaN,0.0,NaN
15358,13544.0,1.0,1,x,,Dipak,Surie,[2015-05602],1.0,NaN,2012,1981.0,1.0,Umeå universitet
15359,13545.0,1.0,1,x,,Charlotta,Wallinder,[2015-05605],1.0,NaN,2008,1976.0,1.0,Uppsala universitet
15360,13546.0,1.0,1,,,Khadga,Karki,[2015-05618],1.0,NaN,NaN,NaN,0.0,NaN

In [271]:
# export the merged_df

writer = pd.ExcelWriter('RA_Sheet_Grouped.xlsx', engine='xlsxwriter')
merged_df.to_excel(writer, sheet_name="Researchers", index=False)
writer.save()